<div class="modal modal__create-password{% if modal == 'create-password' and app.session.get('reseting_email') %} modal--active{% endif %}" id="modal__create-password">
	<div class="modal__content">
		<div class="modal__header">
			<span class="l-center"></span>
			<h3 class="modal__header--title">Create your password</h3>
			<a href="#" class="modal__header--close btn-modal">close</a>
		</div>

		<div class="modal__wrapper">
			<form action="{{url('post_user_forgot_password')}}" method="post" data-parsley-validate>

				<p>Your password must be 6-18 characters.</p>

				<label>
					New password
					<input class="input-text" id="new-pass" type="password" name="password" required />
				</label>

				<label>
					Retype new password
					<input class="input-text" type="password" name="password_confirm" data-parsley-equalto="#new-pass" required />
				</label>

				<div class="modal__btns">
					<button type="submit" class="btn">Continue</button>
				</div>

			</form>
		</div>
	</div>
</div>