<div id="modal__generate-coupon" class="modal modal--active modal__generate-coupon" ng-controller="modal-generate-coupon" ng-if="modal == 'modal-generate-coupon'" ng-click="closeModal($event)" ng-cloak>
	<div class="modal__content" ng-click="$event.stopPropagation()">
		<div class="modal__header">
			<span class="l-center"></span>
			<h3 class="modal__header--title">Generate coupon</h3>
			<a href="#" ng-click="closeModal($event)" class="modal__header--close">close</a>
		</div>

		<div class="modal__wrapper">
			<form action="" data-parsley-validate>

				<p><strong>How many <i class="modal__hash-icon"></i>Hashtag would like to put in this coupon?</strong></p>

				<label>
					<i class="modal__hash-icon"></i> Hashtags
					<input type="text" class="input-text" required>
				</label>
				<button type="submit" class="btn">Generate coupon</button>

			</form>
		</div>
	</div>
</div>