/**
 * Input type text
 */

.input-text
	background #f5f5f5
	border none
	border 1px solid transparent
	border-top 1px solid #dcdcdc
	font-weight normal
	color #666
	padding 10px
	margin 0
	outline none
	width 100%
	box-sizing border-box
	font-size 15px
	font-family 'Asap'


.input-autocomplete--thinking
	background-position right 20px center !important

/**
 * Labels
 */

.input-icon
	position relative
	display inline-block
	width 95%
	height responsive-size(35px)
	// padding-left 60px
	padding-left 15px
	margin-bottom responsive-size(10px)
	border-right 1px solid #427dc6
	line-height responsive-size(35px)
	background #fff
	color #999
	font-size responsive-size(14px)
	font-weight bold
	box-sizing border-box
	border 1px solid transparent
	&.parsley-error
		border-color #ce3333 !important
		color #ce3333 !important
		::-webkit-input-placeholder
			color #e29c9c !important

	input
		display inline-block
		absolute right 0 top 0
		border 0
		width 100%
		padding-left 15px
		margin 0
		height responsive-size(35px)
		background url('../img/loader.gif') no-repeat right -20px center transparent
		color #333
		box-sizing border-box
		font-size responsive-size(14px)
		font-weight bold
		outline none

		&::-webkit-input-placeholder
			color #ccc

	&:before
		display inline-block
		content ' '
		width 60px
		background-repeat no-repeat
		background-position center center
		background-size contain
		absolute left top bottom

	.parsley-errors-list
		display none

	&.parsley-error
		border-color transparent

.input-icon__title
	absolute top -20px left 0
	line-height 16px
	font-size 14px
	text-align left
	font-weight bold
	color #264d7d


.input-icon--notext
	input
		border-left 5px solid transparent

// .input-icon--landing
// 	&:before
// 		background-image url('../img/label-landing.png')

// .input-icon--takeoff
// 	&:before
// 		background-image url('../img/label-takeoff.png')

// .input-icon--add
// 	&:before
// 		background-image url('../img/label-add.png')

.input-icon--noicon
	input
		border-left .5vh solid transparent

	&:before
		display none
	//
	// &.parsley-error
	// 	input
	// 		border-left .5vh solid #f3e9e9


/**
 * Checkboxes
 */
.checkbox
	cursor pointer


/**
 * Buttons
 */

.btn
	border 0
	margin 0
	padding 0
	font-weight normal
	font-size responsive-size(15px)
	cursor pointer
	display inline-block
	background #01b0f1
	color #fff
	padding 8px 20px 10px 20px
	box-sizing border-box
	text-decoration none
	text-align center
	transition color 300ms ease, background-color 300ms ease
	outline 0

	&.saving
		cursor default
		background url('../img/loader-btn.gif') right 10px center no-repeat #01b0f1
		padding-right 40px
		&:hover
			background-color #01b0f1
			color white
	&.saved
		background url('../img/correct.png') right 10px center no-repeat #55b369
		padding-right 40px
		cursor default
		color white
		&:hover
			background-color #55b369
			cursor default
			color white

	&:hover
		background-color #fff
		color #01b0f1
	&:disabled
		background-color #dcdcdc
		cursor default
		color #b7b7b7
		&:hover
			background-color #dcdcdc
			color #b7b7b7
.btn--small
	font-size 14px
	padding 5px 15px

.btn--search
	border-radius 0
	background #5ac7f2
	display block
	font-size responsive-size(15px)
	font-weight normal
	padding 0

.btn--twitter
	background-color #4fa3e6
	background-image url('../img/forms/icon-twitter.png')
	background-position 5px center
	background-repeat no-repeat
	background-size contain
	padding-left 45px
	&.btn--connected
		background-color #4fa3e6
		color #fff


.btn--facebook
	background-color #45619d
	background-image url('../img/forms/icon-facebook.png')
	background-position 5px center
	background-repeat no-repeat
	background-size contain
	padding-left 45px
	&.btn--connected
		background-color #45619d
		color #fff

.btn--connected
	padding-left 45px
	text-align left
	width 150px !important
	background-image url('../img/forms/icon-checked.png')
	cursor default



/**
 * Custom select box
 */

.customSelect
	position relative
	display block
	border none
	border 1px solid transparent
	border-top 1px solid #dcdcdc
	margin 0
	width 100%
	background #f5f5f5
	overflow hidden

	&:hover
		&:before
			background-color #f5f5f5

	@-moz-document url-prefix()
		.customSelect-select
			padding-top responsive-size(8px) !important
			box-sizing border-box


.customSelect:before
	content ' '
	background #e5e5e5 url('../img/customSelect-arrow.png') no-repeat center center
	width 45px
	display block
	absolute right top bottom
	pointer-events none
	cursor pointer
	border-left 1px solid #cecece
	transition all 300ms ease


.customSelect-select
	-webkit-appearance none
	border 0
	padding 0 15px
	width 100%
	height 100%
	font-weight bold
	font-weight normal
	font-size 1em
	color #000
	background transparent
	outline none
	cursor pointer

.customSelect--big
	height 40px

	.customSelect-select
		line-height 36px

	.ms-choice
		line-height 36px !important


.customSelect--multiple
	overflow visible

	&:before
		z-index 2

	.customSelect-select
		display none

	.ms-choice
		background transparent
		border 0
		text-align left
		font-size 13px
		font-weight bold
		color #333

	.ms-drop

		label
			position relative
			margin-bottom 0
			color #333
			padding 5px
			cursor pointer

			&:before
				display inline-block
				margin-right 3px
				content ' '
				width 16px
				height 16px
				vertical-align middle
				background none

		li
			&.active
			&:hover
				background #427dc6
				label
					color #fff

		li.active
			label:before
				background url('../img/modules/filters/sprite-filters.png') no-repeat -20px -19px
				background-size 100px




/**
 * Datepicker
 */
.datepicker-container
	width 95%
	margin-bottom responsive-size(5px)

	clearfix()
	&:not(.reset)
		.datepicker-container--drive
			width 100%

		.datepicker
			position relative
			display block
			float left
			width 48%
			height responsive-size(120px)
			padding responsive-size(10px) 0 responsive-size(10px) responsive-size(15px)
			margin-bottom responsive-size(10px)
			box-sizing border-box
			font-size responsive-size(14px)
			background #fff
			cursor pointer
			overflow hidden
			// border-right 5px solid #427dc6

			&:first-child
				margin-right 4%

			*
				box-sizing border-box

		.datepicker--disabled
			opacity .3
			cursor default


		.datepicker-input,
		.datetime-input
			visibility hidden
			position absolute
			left -9000em

		.datepicker-title
			display block
			color #999
			font-weight normal

		.datepicker-label-title
			absolute top -20px left 0
			line-height 16px
			font-size 14px
			text-align left
			font-weight bold
			color #264d7d

		.datepicker-month,
		.datepicker-year
			display block
			line-height responsive-size(18px)
			margin-left responsive-size(60px)
			font-size responsive-size(18px)

		.datepicker-month
			padding-top responsive-size(10px)

		.datepicker-day
			float left
			padding-top responsive-size(1px)
			font-size responsive-size(55px)

		// .datepicker-time
		// 	font-size 5vh
		// 	float left

		.datepicker-changeDate
			display block
			absolute bottom right left
			padding responsive-size(10px)
			border-top 1px solid #ddd
			box-sizing border-box
			text-align center
			font-size responsive-size(12px)
			background #efefef
			font-weight normal
			color #666
			transition all 300ms ease
			phone(display, none)

		.datepicker-changeDate--calendar
			display none


		.datepicker--time
			width 100%
			border-right 0

			.datepicker-title
				margin-bottom responsive-size(5px)

		.datepicker-hour
			display block
			// height 7vh
			text-align center
			line-height 1em
			font-size responsive-size(38px)

		.datepicker__col
			position relative
			float left
			width 50%

			.datepicker-day
				line-height 90%

			.datepicker-month
				padding-top responsive-size(5px)

		.datepicker__col--last
			float right
			width 50%

			&:before
				absolute left 0 top 10%
				display block
				content ''
				vertical-align top
				width 1px
				height 80%
				background #eaeaea


		.datepicker:hover
			.datepicker-changeDate
				background #fff


		.datepicker--compact
			width 45%
			height 40px
			padding 5px 10px
			border-right 0
			margin-bottom 0

			.datepicker-day
				margin-top -5px
				font-size 30px
				font-weight normal

			.datepicker-month
				padding-top 0

			.datepicker-month,
			.datepicker-year
				margin-left responsive-size(50px)
				font-size 12px
				font-weight normal


		.datepicker-changeDate--calendar-active
			display none

		.datepicker--calendar-active
			box-shadow 0 0 0 5px #2e578a
			border-color #fff
			background #eef0f2
			color #a2a3a4

			.datepicker-changeDate
				box-sizing none
				margin-right 5px solid red

			.datepicker-changeDate
				display none

			.datepicker-changeDate--calendar-active
				display block


/**
 * Amount Picker
 */
.amountpicker
	margin-bottom responsive-size(15px)
	background #fff
	cursor pointer
	position relative
	overflow hidden
	display block
	user-select none
	box-sizing border-box
	float left
	border-right 5px solid #427dc6
	width 32%
	height responsive-size(100px)
	// font-size 2vh

	.parsley-errors-list
		display none

.amountpicker-qtd
	border 0
	color #999
	margin 0 0
	padding 0
	color #000
	font-size responsive-size(40px)
	text-align center
	display block
	width 100%
	outline none
	absolute top 26% left 0 right 0
	background transparent

.amountpicker-title
	display block
	text-align center
	absolute top 10% left right
	color #999
	font-weight normal

.amountpicker-info
	display block
	text-align center

	color #333
	absolute bottom 10% left right

.amountpicker-more,
.amountpicker-less
	background #eef0f2
	absolute left right
	text-align center
	color #333
	text-decoration none
	line-height responsive-size(20px)
	font-size responsive-size(18px)
	opacity 0
	transition opacity 300ms ease
	z-index 2
	phone(display, none)

.amountpicker-more
	top 0
	border-bottom 1px solid #d9d9d9

.amountpicker-less
	bottom 0
	border-top 1px solid #d9d9d9


.amountpicker:hover .amountpicker-less,
.amountpicker:hover .amountpicker-more
	opacity 1


.amountpicker--time
	border-right 0
	width 25%
	height 10vh
	top 0
	margin-left 17%
	overflow visible
	background #fff
	color #333

	.amountpicker-qtd
		top 0
		height 100%

	.amountpicker-less,
	.amountpicker-more
		opacity 1
		border 0
		padding 0
		height 3vh
		line-height 2.3vh
		text-indent -9999em
		background #37b8e8 url('../vendor/pickadate/themes/arrow-top.png') no-repeat center center
		background-size 2vh

	.amountpicker-more
		top -3.3vh

	.amountpicker-less
		bottom -3.3vh
		background-image url('../vendor/pickadate/themes/arrow-bottom.png')


.amountpicker--time-last
	margin-left 15%

	&:after
		display block
		content ''
		absolute top 50% left -30%
		width 8px
		height 8px
		border-top 8px solid #fff
		border-bottom 8px solid #fff
		margin -15px 0 0 -4px


/**
 * customCheckbox
 */
.customCheckbox
	position relative
	display block
	cursor pointer
	font-weight bold

	&:before
		display inline-block
		// absolute top -3px left
		margin-right 3px
		content ' '
		width 16px
		height 16px
		background url('../img/modules/filters/sprite-filters.png') no-repeat -20px 0;
		background-size 100px
		vertical-align middle
		position relative
		top -1px

	&.active
		&:before
			background-position 0 0

	input
		absolute top left
		width 100%
		height 100%
		opacity 0
		cursor pointer

.customCheckbox--blue
	&.active
		&:before
			background-position 0 -18px

/**
* customRadio
*/
.customRadio
	position relative
	display block
	cursor pointer

	&:before
		display inline-block
		margin-right 10px
		content ' '
		width 22px
		height 22px
		background url('../img/custom-radio.png') no-repeat 0 0;
		vertical-align middle
		position relative
		top -2px

	&.active
		&:before
			background-position 0 -22px

	input
		absolute top left
		width 100%
		height 100%
		opacity 0
		cursor pointer

/**
 * Erros
 */

.parsley-error
	border-color #ff9292
	color #e29c9c
	background-color #f3e9e9

	&.customSelect
		border-color 1px solid #ce3333

		&:before
			border-color #d78f8f
			background-image url('../img/customSelect-arrow-error.png')


.parsley-errors-list
	absolute top 0 right
	width 180px
	color #ce3333
	text-align right
	font-size responsive-size(12px)

	li
		&:before
			display inline-block
			content ''
			width 13px
			height 10px
			background url('../img/modules/checkout/arrow-error.png') no-repeat left center;
			background-size 10px

.customSelect,
.checkout__field .customSelect

	.parsley-errors-list
		top -19px
