{% extends "layout.twig" %}

{% block content %}

<script src="{{app.config.staticpath}}/vendor/angular.js"></script>
<script src="{{app.config.staticpath}}/vendor/angular-cookies.js"></script>
<script src="{{app.config.staticpath}}/js/DealsGrid.js"></script>
<script>
	window.loadModules = ['grid'];
</script>

<div class="main main-results main-results--deals" ng-app="DealsGrid">
	<div class="results-filter-compact results-filter--deals is-grid">
		<form action="{{url('deals_search')}}" method="get">

			<div class="results-filter-compact__search-container">
				<label class="input-icon input-icon--takeoff input-icon--noicon results-filter-compact__search-field">
					<strong class="input-icon__title">From</strong>
					<input value="Geneva" />
				</label>

				<label class="input-icon input-icon--landing input-icon--noicon results-filter-compact__search-field">
					<strong class="input-icon__title">To</strong>
					<input placeholder="City" />
				</label>
			</div>

			<div class="results-filter-compact_datepicker-container results-filter-compact__col datepicker-container" data-calendar-parent=".main-results">
				<label class="datepicker datepicker--compact" data-calendar-type="checkin">
					<span class="datepicker-label-title">Departing on</span>
					<span class="datepicker-day"></span>
					<span class="datepicker-month"></span>
					<span class="datepicker-year"></span>
					<input type="hidden" class="datepicker-input" value="{{ "now"|date("Y-m-d") }}" />
				</label>

				<label class="datepicker datepicker--compact" data-calendar-type="checkout">
					<span class="datepicker-label-title">Arriving on</span>
					<span class="datepicker-day"></span>
					<span class="datepicker-month"></span>
					<span class="datepicker-year"></span>
					<input type="hidden" class="datepicker-input" value="{{ "tomorrow"|date("Y-m-d") }}" />
				</label>
			</div>

			<div class="results-filter-compact__select-container results-filter-compact__col">
				<label>Airlines</label>
				<div class="customSelect customSelect--big">
					<select class="customSelect-select">
						<option value="">Any</option>
					</select>
				</div>
			</div>

			<div class="results-filter-compact__select-container results-filter-compact__col">
				<label>Star rating</label>
				<div class="customSelect customSelect--big">
					<select class="customSelect-select">
						<option value="0">Any</option>
						<option value="2">2 stars</option>
						<option value="3">3 stars</option>
						<option value="4">4 stars</option>
						<option value="5">5 stars</option>
					</select>
				</div>
			</div>

			<div class="results-filter-compact__select-container results-filter-compact__select-container--sort results-filter-compact__col">
				<label>Sort results by</label>
				<div class="customSelect customSelect--big">
					<select class="customSelect-select" ng-model="orderBy.reverse">
						<option value="false">Lowest Price</option>
						<option value="true">Highest Price</option>
					</select>
				</div>
				<input type="submit" class="btn" value="Search">
			</div>

			<div class="results-filter-compact__col">

			</div>
		</form>
	</div>

	<div class="deals-wrapper" ng-controller="results" assist-overflow>
		<div class="deals-grid" masonry>
			<div class="deals-grid__box {[{box.category && 'is--category ' + box.category || ''}]} {[{box.lines && 'h' + box.lines || ''}]} {[{box.columns && 'w' + box.columns || ''}]}" ng-class="{[{box.}]}" ng-repeat="box in results | limitTo:limit">
				<a href="#" class="box__url">
					<h2 class="box__title">{[{box.data.title}]}</h2>

					<div class="box__quote">
						<p>"{[{box.data.quote.text}]}"</p>
						<small>From {[{box.data.quote.from}]}</small>
					</div>

					<ul class="box__list">
						<li ng-repeat="place in box.data.places">{[{place.name}]}</li>
					</ul>

					<div class="box__call-to-action">
						<span class="call-to-action__title">{[{box.data.price.excerpt}]}</span>
						<strong class="call-to-action__price">{[{box.data.price.value}]}<small>/night</small></strong>
					</div>

					<span class="box__button">Book now</span>
				</a>

				<img ng-src="{{app.config.uploadsdir}}/{[{box.data.image}]}" class="box__image" ng-if="!box.category">
			</div>
			{# <div class="deals-grid__box">
				<a href="#" class="box__url">
					<h2 class="box__title">Enjoy New York</h2>
				</a>

				<img src="{{app.config.uploadsdir}}/deals-grid-2.jpg" class="box__image">
			</div>
			<div class="deals-grid__box w3 h2">
				<a href="#" class="box__url">
					<h2 class="box__title">Discover the most beautiful beaches in the world</h2>

					<ul class="box__list">
						<li>Seychelles</li>
						<li>Maldives</li>
						<li>Bora Bora</li>
						<li>Lanikai Beach</li>
						<li>Nantucket Island</li>
						<li>Fraser Island</li>
					</ul>

					<div class="box__call-to-action">
						<span class="call-to-action__title">Packages from</span>
						<strong class="call-to-action__price">$490</strong>
					</div>
				</a>

				<img src="{{app.config.uploadsdir}}/deals-grid-3.jpg" class="box__image">
			</div>
			<div class="deals-grid__box">
				<a href="#" class="box__url">
					<div class="box__quote">
						<p>"New York is the best place for you do anything. Just love it."</p>
						<small>From TripAdvisor</small>
					</div>

					<div class="box__call-to-action">
						<span class="call-to-action__title">Flight + Hotel from</span>
						<strong class="call-to-action__price">$1525</strong>
					</div>
				</a>

				<img src="{{app.config.uploadsdir}}/deals-grid-4.jpg" class="box__image">
			</div>
			<div class="deals-grid__box is--category weather">
				<a href="#" class="box__url">
					<h2 class="box__title">Hottest places in the world</h2>
				</a>
			</div>
			<div class="deals-grid__box">
				<a href="#" class="box__url">
					<h2 class="box__title">Enjoy Switzerland</h2>

					<div class="box__call-to-action">
						<span class="call-to-action__title">Packages from</span>
						<strong class="call-to-action__price">$490</strong>
					</div>
				</a>

				<img src="{{app.config.uploadsdir}}/deals-grid-5.jpg" class="box__image">
			</div>
			<div class="deals-grid__box is--category beaches">
				<a href="#" class="box__url">
					<h2 class="box__title">Find a hotel for your trip</h2>
				</a>
			</div>
			<div class="deals-grid__box">
				<a href="#" class="box__url">
					<h2 class="box__title">Enjoy San Francisco</h2>

					<div class="box__call-to-action">
						<span class="call-to-action__title">Packages from</span>
						<strong class="call-to-action__price">$490</strong>
					</div>
				</a>

				<img src="{{app.config.uploadsdir}}/deals-grid-6.jpg" class="box__image">
			</div>
			<div class="deals-grid__box is--category skiing">
				<a href="#" class="box__url">
					<h2 class="box__title">Find cheap flights</h2>
				</a>
			</div>
			<div class="deals-grid__box w2 h2">
				<a href="#" class="box__url">
					<h2 class="box__title">Skiing vacations <small>Packages for your next big trip</small></h2>

					<ul class="box__list">
						<li>Seychelles</li>
						<li>Maldives</li>
						<li>Bora Bora</li>
					</ul>

					<div class="box__call-to-action">
						<span class="call-to-action__title">Packages from</span>
						<strong class="call-to-action__price">$490</strong>
					</div>
				</a>

				<img src="{{app.config.uploadsdir}}/deals-grid-7.jpg" class="box__image">
			</div>
			<div class="deals-grid__box is--category romance">
				<a href="#" class="box__url">
					<h2 class="box__title">Plan your honeymoon</h2>
				</a>
			</div>
			<div class="deals-grid__box">
				<a href="#" class="box__url">
					<h2 class="box__title">Tokyo</h2>

					<div class="box__call-to-action">
						<span class="call-to-action__title">From</span>
						<strong class="call-to-action__price">$1200</strong>
					</div>
				</a>

				<img src="{{app.config.uploadsdir}}/deals-grid-8.jpg" class="box__image">
			</div>
			<div class="deals-grid__box">
				<a href="#" class="box__url">
					<h2 class="box__title">Paris</h2>

					<div class="box__call-to-action">
						<span class="call-to-action__title">From</span>
						<strong class="call-to-action__price">$390</strong>
					</div>
				</a>

				<img src="{{app.config.uploadsdir}}/deals-grid-9.jpg" class="box__image">
			</div>
			<div class="deals-grid__box">
				<a href="#" class="box__url">
					<h2 class="box__title">Rio de Janeiro</h2>

					<div class="box__call-to-action">
						<span class="call-to-action__title">From</span>
						<strong class="call-to-action__price">$920</strong>
					</div>
				</a>

				<img src="{{app.config.uploadsdir}}/deals-grid-10.jpg" class="box__image">
			</div>
			<div class="deals-grid__box">
				<a href="#" class="box__url">
					<h2 class="box__title">Venice</h2>

					<div class="box__call-to-action">
						<span class="call-to-action__title">From</span>
						<strong class="call-to-action__price">$789</strong>
					</div>
				</a>

				<img src="{{app.config.uploadsdir}}/deals-grid-11.jpg" class="box__image">
			</div>
			<div class="deals-grid__box is--category hiking">
				<a href="#" class="box__url">
					<h2 class="box__title">Enjoy the mountains</h2>
				</a>
			</div> #}
		</div>
	</div>
</div>

{% endblock %}
