{% extends "layout.twig" %}

{% block content %}


<div class="main main__myAccount">
	{% include 'user/internal-menu.inc.twig' %}

	<form class="checkout l-col-75">
		<h2 class="checkout__title"><a href="" class="back-mobile" onclick="window.history.back();return false;"></a>Booking Detail</h2>

		<div class="checkout__body">

			<div class="booking-details">
				<img src="./uploads/car-detail-01.jpg" alt="" class="table-history__details--thumb">
				<div class="table-history__details--car-info">
					<h3>Toyota Yaris <span>or similar</span></h3>
					<ul class="drive-list-features">
						<li class="drive-list-features__icon drive-list-features__icon--people">5 Passengers</li>
						<li class="drive-list-features__icon drive-list-features__icon--bag">2 Small Suitcases</li>
						<li class="drive-list-features__icon drive-list-features__icon--automatic">Automatic Transmission</li>
						<li class="drive-list-features__icon drive-list-features__icon--fuel">33 miles/gallon or better</li>
					</ul>
				</div>
				<div class="table-history__details--summary">
					<ul>
						<li><span>Pick-up</span> <strong>Sun, 16 Feb 2014, 15:00</strong></li>
						<li><span>
							San Francisco Airport, CA/OFF 055 (SFO)<br/>
							1409 ROLLINS RD<br/>
							Burlingame, CA 94010
						</span></li>
						<li><span>Drop-off</span> Sun, 24 Feb 2014, until 12:00</li>
					</ul>
				</div>

				<div class="booking-details__summary-costs">
					<ul>
						<li>Adults (2) <strong>US$ 2451.11</strong></li>
						<li>Taxes &amp; fees <strong>US$ 67.26</strong></li>
						<li>Booking Fee <strong>US$ 32.21</strong></li>
						<li class="booking-details__total">Total <strong>US$ 2.466.40</strong></li>
					</ul>
				</div>

				<div class="booking-details__help">
					<p>Need help or want to modify this trip? <a href="#modal--contact" class="btn-modal">Click to contact us</a></p>
				</div>
			</div>


		</div>

	</form>


	<div class="modal modal--contact" id="modal--contact">
		<div class="modal__content">

			<div class="modal__header">
				<span class="l-center"></span>
				<h3 class="modal__header--title">Contact Hashtag Travels</h3>
				<a href="#" class="modal__header--close btn-modal">close</a>
			</div>

			<form action="" method="post" class="modal__form">

				<h4>Please, type your message below</h4>
				<textarea name="" placeholder="What can we do for you?" class="modal__form--message"></textarea>

				<div class="modal__footer clearfix">
					<div class="modal__user">
						<span class="l-center"></span>
						<img class="modal__user--thumb" src="https://graph.facebook.com/medeeiros/picture">
						<p class="modal__user--name">Guilherme</p>
					</div>
					<input type="submit" class="btn modal__footer--submit" value="Send">
				</div>

			</form>

		</div>
	</div>

</div>


{% endblock %}