{% extends "layout.twig" %}

{% block content %}

<script src="{{app.config.staticpath}}/vendor/angular.js"></script>
<script src="{{app.config.staticpath}}/vendor/angular-route.js"></script>
<script src="{{app.config.staticpath}}/js/UserMyAccountApp.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagDirectives.js"></script>

<div class="main main__myAccount" ng-app="UserMyAccountApp">

	{% include 'user/internal-menu.inc.twig' %}


	<div class="view-container" style="height: 100%" ng-view></div>

	<div class="modal modal--contact" id="modal--contact">
		<div class="modal__content">

			<div class="modal__header">
				<span class="l-center"></span>
				<h3 class="modal__header--title">Contact Hashtag Travels</h3>
				<a href="#" class="modal__header--close btn-modal">close</a>
			</div>

			<form action="" method="post" class="modal__form">

				<h4>Please, type your message below</h4>
				<textarea name="" placeholder="What can we do for you?" class="modal__form--message"></textarea>

				<div class="modal__footer clearfix">
					<div class="modal__user">
						<span class="l-center"></span>
						<img class="modal__user--thumb" src="https://graph.facebook.com/medeeiros/picture">
						<p class="modal__user--name">Guilherme</p>
					</div>
					<input type="submit" class="btn modal__footer--submit" value="Send">
				</div>

			</form>

		</div>
	</div>


</div>

{% endblock %}