<form class="checkout l-col-75" ng-submit="save()" ng-cloak>
	<h2 class="checkout__title">Notifications</h2>

	<div class="checkout__body">
		<table class="checkout__fieldset">
			<tr>
				<th colspan="3">Send me e-mails with</th>
			</tr>

			<tr ng-repeat="notification in notifications">
				<td colspan="3">
					<div ng-class="{active: notification.checked}" class="customCheckbox customCheckbox--blue">
						<label><input type="checkbox" ng-model="notification.checked" /> {[{notification.name}]} </label>
					</div>
				</td>
			</tr>

		</table>

	</div>


	<div class="checkout__footer checkout__footer--left">
		<span class="l-toCenter"></span><button class="checkout__submit btn {[{form_state}]}" type="submit">{[{form_state | buttonStates:'changes'}]}</button>
		<span class="checkout__error-message">{[{error_message}]}</span>
	</div>

</form>