{% extends "layout.twig" %}

{% block content %}

<script>
	window.loadModules = ['sign-in', 'modal'];
</script>

<div class="main" id="main-signin">
	<div class="l-fixed-container">


		{% for error in app.session.getFlashBag.get('error_signup') %}
		<span class="sign-in__warning">{{error}}</span>
		{% endfor %}

		{% for error in app.session.getFlashBag.get('error_signin') %}
		<span class="sign-in__warning">{{error}}</span>
		{% endfor %}

		{% if app.session.get('login_required_checkout') %}
		<div class="sign-in__guest">
			<p>Please sign in or <a href="{{app.session.get('login_redirect')}}?guest=1" class="sign-in__guest-btn">continue as a guest</a></p>
		</div>
		{% endif %}

		<div class="sign-in">
			<div class="sign-in__sign-in">
				<h2 class="sign-in__title">Sign in</h2>

				<div class="sign-in__social">
					<a href="{{login_facebook_url}}" class="btn btn--facebook sign-in__facebook">Sign in with Facebook</a>
					<a href="{{url('user_signin_twitter')}}" class="btn btn--twitter sign-in__twitter">Sign in with Twitter</a>
				</div>

				<form class="sign-in__fieldset" method="post" data-parsley-validate>
					<br />
					<label class="sign-in__input-container">
						<input class="input-text" name="email" value="{{app.session.get('signin_email')}}" type="text" placeholder="Your email" data-parsley-type="email" required />
					</label>
					<label class="sign-in__input-container">
						<input class="input-text" name="password" type="password" placeholder="Your password" required />
					</label>

					<a href="#modal__forgot-password" class="btn-modal sign-in__forgot-password">Forgot your password?</a>
					<button type="submit" class="btn">Sign in</button>
				</form>
			</div>
			<div class="sign-in__sign-up">
				<h2 class="sign-in__title">Don't have an account?</h2>
				<h4 class="sign-in__subtitle">Join Hashtag Travels now!</h4>

				<div class="btn--create-account-mobile">
					<button class="btn btn--create-account">Create your account</button>
				</div>

				<form class="sign-in__fieldset sign-up__form" action="{{url('post_user_signup')}}" method="post" data-parsley-validate>
					<label class="sign-in__input-container">
						<input class="input-text" name="name" value="{{app.session.get('signup_name')}}" type="text" placeholder="Your name" required />
					</label>

					<label class="sign-in__input-container">
						<input class="input-text" name="email" value="{{app.session.get('signup_email')}}" type="text" placeholder="Your email" required />
					</label>
					<label class="sign-in__input-container">
						<input class="input-text" name="password" value="{{app.session.get('signup_password')}}" id="new-password" type="password" placeholder="Your password" required />
					</label>

					<button type="submit" class="btn">Sign up</button>
				</form>
			</div>
		</div>
	</div>


	{% include 'modal/forgot-password.twig' %}
	{% include 'modal/create-password.twig' %}
	{% include 'modal/successful-login.twig' %}
	{% include 'modal/almost-there.twig' %}

</div>

{% endblock %}
