<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Car</title>
	<style>
		* { margin: 0; padding: 0; text-decoration: none; list-style: none; }
		body {
			font-family: 'Helvetica', Arial, Tahoma, Verdana, sans-serif;
			font-size: 14px;
			color: #666;
		}
		.btn {
			display: inline-block;
			padding: 0 20px;
			text-align: center;
			color: #fff;
			line-height: 50px;
			background: #24B8E6;
		}
		.btn:hover {
			background: #fff;
			color: #24B8E6;
		}
		hr {
			border: 0;
			border-top: 1px solid #ccc;
		}
	</style>
</head>
<body>

	<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">

		<thead>
			<tr>
				<th bgcolor="#f2f2f2" height="60" style="padding-left:20px" align="left"<a href="http://www.hashtagtravels.com" target="_blank"><img src="{{app.config.staticpath}}/img/print-emails/logo-travels.png" alt="Hashtag Travels" width="156" height="34"></a></th>
				<th bgcolor="#f2f2f2" height="60" style="padding-right:20px" align="right"><strong>Welcome aboard. Fasten your seatbelts.</strong></th>
			</tr>
		</thead>

		<tr><td colspan="2" height="80"></td></tr>

		<tbody>
			<tr>
				<td align="center" colspan="2">
					<table width="600" align="center" cellspacing="0" cellpadding="0" border="0">

						{% if confirmation is defined %}
						<tr>
							<td>
								<font size="3">

									<font size="5" color="#427DC6"><strong>Dear Guilherme.</strong></font>
									<br><br>

									Your reservation is confirmed!<br/>
									Here is a summary about your trip and some details you should know.
								</font>
								<br><br>
							</td>
						</tr>

						<tr>
							<td align="center" height="60" bgcolor="#F2F2F2" style="border: 1px solid #dedede; color: #000">
								<font size="4">
									Confirmation number: <font size="5"><strong>XE342429</strong></font>
								</font>
							</td>
						</tr>

						<tr>
							<td height="40" valign="middle" align="center" style="font-weight: bold">
								<a href="" style="color: #427DC6"><img src="{{app.config.staticpath}}/img/print-emails/icon-print.png" alt="" style="position: relative; top: 3px"> Print this page</a>
								<a href="" style="color: #427DC6; margin: 0 20px;"><img src="{{app.config.staticpath}}/img/print-emails/icon-doc.png" alt="" style="position: relative; top: 5px"> Get a receipt</a>
								<a href="" style="color: #427DC6"><img src="{{app.config.staticpath}}/img/print-emails/icon-help.png" alt="" style="position: relative; top: 4px"> Need some help?</a>
							</td>
						</tr>
						{% endif %}





						<!-- hotel details -->
						<tr>
							<td>

								<div class="box" style="margin: 40px 0;">

									<font size="5" color="#427DC6"><strong>Car details</strong></font>
									<hr style="margin-top: 5px"><br>

									<img src="{{app.config.uploadsdir}}/car-grid_02.jpg" alt="" width="200" style="display: inline-block; margin-right: 20px;">

									<div style="display: inline-block; vertical-align: top; margin-bottom: 20px;">
										<font size="4" color="#000"><strong>Toyota Yaris</strong></font>
										<br/><br/>

										<p>5 passengers<br/>
										2 small suitcases<br/>
										Automatic transission<br/>
										Air Bag<br/>
										4x4<br/>
										4 doors<br/>
										</p>

									</div>

								</div>


								{% if confirmation is defined %}

								<div class="box" style="margin-bottom: 40px">

									<font size="5" color="#427DC6"><strong>Reservation</strong></font>
									<hr style="margin-top: 5px"><br>

									<font color="#000">
										<table width="100%">
											<tr height="30">
												<td width="15%"><strong>Picku-up</strong></td>
												<td>Sun, 16 Feb 2014, from 15:00</td>
											</tr>
											<tr height="30">
												<td><strong>Drop-off</strong></td>
												<td>Sun, 18 Feb 2014, from 15:00</td>
											</tr>
										</table>
									</font>

								</div>


								<div class="box" style="margin-bottom: 40px">

									<font size="5" color="#427DC6"><strong>Drivers</strong></font>
									<hr style="margin-top: 5px"><br>

									<font color="#000">
										<table width="100%">
											<tr height="30">
												<td valign="top" width="15%"><strong>Driver 1</strong></td>
												<td valign="top">
													Guilherme Medeiros
												</td>
											</tr>
											<tr height="30">
												<td valign="top" width="15%"><strong>Driver 2</strong></td>
												<td valign="top">
													Moises Pio
												</td>
											</tr>
										</table>
									</font>

								</div>


								<div class="box" style="margin-bottom: 60px">

									<font size="5" color="#427DC6"><strong>Expenses</strong></font>
									<br>

									<div style="padding: 10px 20px; margin-top: 10px; background: #ECF2F8; border: 1px solid #D4D9DF; font-weight: bold; color: #000">
										<table width="100%">
											<tr>
												<td style="padding: 10px 0; border-bottom: 1px solid #D4D9DF">Car rental</td>
												<td align="right" style="padding: 5px 0; border-bottom: 1px solid #D4D9DF">US$ 250</td>
											</tr>
											<tr>
												<td style="padding: 10px 0; border-bottom: 1px solid #D4D9DF">Taxes &amp; Fees</td>
												<td align="right" style="padding: 5px 0; border-bottom: 1px solid #D4D9DF">US$ 100</td>
											</tr>
											<tr>
												<td style="padding: 10px 0; border-bottom: 1px solid #D4D9DF">Booking Fee</td>
												<td align="right" style="padding: 5px 0; border-bottom: 1px solid #D4D9DF">US$ 50</td>
											</tr>
											<tr>
												<td style="padding: 10px 0; color: #427DC6">Total</td>
												<td align="right" style="padding: 5px 0; color: #427DC6; font-size: 16px">US$ 400</td>
											</tr>
										</table>

									</div>

								</div>



								<font size="5" color="#427DC6"><strong>Have a nice trip!</strong></font><br/>
								<font size="4">Hashtag Travels.</font>

								{% endif %}


							</td>
						</tr>



					</table>
				</td>
			</tr>
		</tbody>

		<tr><td colspan="2" height="30"></td></tr>

		<tfoot>
			<tr>
				<td align="center" colspan="2">

					<table width="600" align="center" cellspacing="0" cellpadding="0" border="0">

						<tr><td colspan="3" height="50"><hr></td></tr>

						<tr>
							<td>
								<h3 style="margin-bottom: 5px">Hashtag Travels</h3>
								<p>
									Av. des Baumettes 23<br/>
									Renens, Lausanne<br/>
									Switzerland
								</p>
							</td>
							<td>
								<h3 style="margin-bottom: 5px">Contact us</h3>
								<p>T: +41 21 909 0000</p>
								<p>F: +41 21 634 1762</p>
								<p>UK Toll Free Telephone: 0-808-189-0480</p>
							</td>
							<td></td>
						</tr>

						<tr height="150">
							<td colspan="3" align="center">
								<p>Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
							</td>
						</tr>

					</table>
				</td>
			</tr>

		</tfoot>

	</table>

</body>
</html>
