.search-tool--searching
	.input-autocomplete--results
		display block
.input-autocomplete--results
	position absolute
	background white
	box-sizing border-box
	z-index 100
	overflow auto
	box-shadow 0 3px 5px rgba(0,0,0,0.2)
	border-top 1px solid #d9d9d9
	top 100%
	left -1px
	right -1px
	max-height 300px
	display none
	li
		font-size responsive-size(12px)
		line-height responsive-size(15px)
		box-sizing border-box
		padding 10px 10px

		// text-overflow ellipsis
		// overflow hidden
		// white-space nowrap

		border 2px solid transparent
		cursor pointer
		box-sizing border-box
		position relative
		color black
		strong
			color #999
		&.input-autocomplete--results--active
			background #ebf6ff
			border 2px solid #19bdfa
			&:after
				display none
		&:after
			content ''
			height 1px
			background #d9d9d9
			display block
			position absolute
			left -2px
			right -2px
			bottom -3px

.input-autocomplete--typing
	background #f2f2f2


.pac-container
	background white
	box-shadow 0 3px 5px rgba(0,0,0,0.2)
	border-top 1px solid #d9d9d9
	box-sizing content-box !important
	padding 3px 3px 3px 2px
	border-radius 0
	margin-left -1px
	z-index 1000
	position absolute

.pac-item
	font-size responsive-size(12px)
	line-height responsive-size(35px)
	box-sizing border-box
	padding 0 10px
	border 2px solid transparent
	cursor pointer
	box-sizing border-box
	position relative
	color black
	font-family 'Asap', sans-serif;

.pac-item:hover
	background #ebf6ff
	border 2px solid #19bdfa

.pac-item-selected
	background #ebf6ff
	border 2px solid #19bdfa

.pac-container:hover .pac-item-selected
	background transparent
	border 2px solid transparent

.pac-container:hover .pac-item-selected:hover
	background #ebf6ff
	border 2px solid #19bdfa
