.booking-options
	height 100%
	background #fff
	font-weight normal
	overflow auto
	box-sizing border-box
	border-bottom responsive-size(60px) solid transparent

	*
		box-sizing border-box

	p, td, th, li, a
		font-size responsive-size(12px)

.booking-options__title
	font-size responsive-size(18px)
	font-weight bold
	display block
	padding 0 30px
	height 60px
	background #f6f6f6
	border-bottom 1px solid #e5e5e5
	border-top 1px solid #e5e5e5
	line-height 60px

	&:first-child
		border-top none

.booking-options__row
	display flex
.booking-options__section
	clear none
	flex 1
.booking-options__section--hotel
	border-right 1px solid #e5e5e5
	padding responsive-size(20px)
	&:first-child
		flex 2
	&:last-child
		border 0
	small
		font-size responsive-size(12px)
	.flight-hotel__list
		li
			line-height responsive-size(18px)
			font-size responsive-size(14px)
			strong
				float right
		.strong
			border-top 1px solid #e5e5e5
			color #427dc6
			margin-top 10px
			padding-top 10px
	.hotel-results__content-box
		border-bottom 0
		padding 0
	.hotel-results__hotel-image
		width responsive-size(140px)
		height responsive-size(140px)
		img
			display block
			height 100%
.booking-options__section--seat
	border-right 1px solid #e5e5e5
.booking-options__section--luggage
	border-right 1px solid #e5e5e5
.booking-options__section-title
	background #efefef
	border-top 1px solid #e5e5e5
	border-bottom 1px solid #e5e5e5
	color #333
	font-size responsive-size(15px)
	font-weight bold
	padding responsive-size(5px) responsive-size(15px)
	vertical-align middle
	line-height responsive-size(40px)

	img
		display inline-block
		width responsive-size(30px)
		margin-right responsive-size(15px)
		vertical-align middle

.booking-options__subtitle
	padding 15px 30px

.booking-options__section-content
	display table
	width 100%


.booking-options__section-content--insurance
	border-top 1px solid #e5e5e5

.internal-tabs__content-subtitle
	padding 10px 30px 10px 0
	width 73%
	float left
	border-right 1px solid #e5e5e5

.booking-options__section-col
	display table-cell
	padding responsive-size(20px)
	border-right 1px solid #e5e5e5

	&:last-child
		border-right 0

.booking-options__seats
	width 50%

	li
		display inline-block
		position relative
		width 48%
		min-height 15px
		vertical-align top
		padding-left responsive-size(25px)
		margin-bottom responsive-size(15px)
		font-weight bold

		&:before
			display block
			absolute top left
			content ''
			width 16px
			height 13px
			background url('../img/modules/booking-options/icon-check.png') no-repeat
			background-size contain

.booking-options__flights-item
	margin-bottom responsive-size(30px)

	&:last-child
		margin-bottom 0

.booking-options__luggage
	p
		margin-bottom responsive-size(15px)

.booking-options__insurance

	p
		width 60%
		float left
		margin-bottom responsive-size(15px)
	img
		float right
		width 30%

	th
		padding responsive-size(10px)
		font-weight bold
		color #333
		text-transform uppercase

	td
		border-top 1px solid #e5e5e5
		font-size responsive-size(12px)
		padding responsive-size(10px) responsive-size(25px)

		&:nth-child(3), &:nth-child(4)
			border-right 1px solid #e5e5e5
		&:nth-child(3)
			border-left 1px solid #e5e5e5


.booking-options__insurance-table
	width 100%
	border-bottom 1px solid #e5e5e5
	td
		vertical-align middle
		border-left 1px solid #e5e5e5
		&.is-active
			background #ebf6ff
	.btn
		font-size 12px
		outline none
		display block
		width 100%
.booking-options__insurance-image
	float right
	vertical-align middle
	img
		display inline-block
		margin auto
		width 85px
		margin-left 10px
		position relative
		top -5px
		vertical-align middle
	span
		display inline-block
.booking-options__insurance-check
	display block
	margin 0 auto
	content ''
	width 16px
	height 13px
	text-indent -9999em
	background url('../img/modules/booking-options/icon-check.png') no-repeat
	background-size contain

.booking-options__insurance-none
	display block
	margin 0 auto
	content ''
	width 16px
	height 13px
	text-indent -9999em
	background url('../img/modules/booking-options/icon-none.png') no-repeat
	background-size contain



.booking-options__passenger-select-insurance
	width 250px
	height responsive-size(37px)
	margin-top responsive-size(-41px)
	float right
	margin-right 15px
	background #fff
	border-radius 0
	border 1px solid #ddd





.booking-options__tabs
	display table
	width 100%

.booking-options__tabs-btn
	display table-cell
	padding-top 12px
	height responsive-size(50px)
	background #f2f2f2
	text-align center
	color #333
	font-weight bold
	text-decoration none
	border-right 1px solid #e5e5e5
	border-bottom 1px solid #e5e5e5

	&:last-child
		border-right 0

	span
		display block
		font-size 12px
		color #999

.booking-options__tabs-btn--active
	background #fff
	border-bottom 0

/**
 * Drive options
 */

.booking-options__list-features
	padding 0 40px

.booking-options__table-features
	width 100%

	td
		padding 10px 20px
		vertical-align middle
		border-bottom 1px solid #e5e5e5

		&:first-child,
		&:last-child
			width 80px
			padding 5px 0

	tr:last-child td
		border-bottom 0

	h3
		font-size responsive-size(18px)
		font-weight bold

.booking-options__list-features-content
	width 70%

.booking-options__list-features-price

	span, strong
		display block

	span
		font-size responsive-size(13px)
		font-weight bold

	strong
		line-height responsive-size(10px)
		font-size responsive-size(23px)
		font-weight bold

.booking-options__list-features-btn
	display block
	position relative
	overflow hidden

	&:after
		display block
		absolute top left 100%
		width 100%
		line-height 28px
		content 'Added'
		text-indent 0
		transition all .3s ease-out
		color #b7b7b7

	&.active
		background #dcdcdc
		text-indent -999em;
		color #b7b7b7

		&:after
			left 0



/*
 * Phone
 */

@media _phone
	.booking-options
		border-bottom 0

	.booking-options__row
		flex-direction column

	.booking-options__section-content
		display block

	.booking-options__section-col
		display block
		width 100%

	.booking-options__seats
		border-bottom 1px solid #e5e5e5

	.booking-options__insurance-add
		.customSelect
			width 100%



	.booking-options__list-features
		padding 0 10px

	.booking-options__table-features
		td
			display inline-block

			&:last-child
				float right

	.booking-options__item-feature
		&:after
			display table-row
			content ''
			width 100%
			height 1px
			background #f1f1f1
		&:last-child
			&:after
				display none

	.booking-options__list-features-price
		margin-left 80px

		span, strong
			display inline-block
			font-size responsive-size(26px)

	.booking-options__list-features-btn
		top 6px
