.calendar
	absolute top left -100%
	z-index 100
	width 100%
	height 100%
	background #333
	transition all 400ms ease
	box-sizing border-box

	*
		box-sizing border-box

.calendar__table
	width 90%
	margin 0 auto 40px auto

	td, th
		padding 10px
		text-align center
		font-size 14px
		font-weight bold

.calendar__box
	position relative
	height 100%

.calendar__list
	relative top
	border-top 50px solid #333
	height 100%
	overflow hidden
	overflow-y auto

.calendar__col
	float left
	width 50%

	h5
		width 80%
		margin 0 auto 5px auto
		font-size 16px
		color #fff
		font-weight bold

	.customSelect
		width 80%
		margin 0 auto 5px auto
		height 40px

.calendar__header
	absolute top left
	width 100%
	z-index 5
	height 50px
	padding 0 20px
	background #404040
	border-bottom 1px solid #000

	h4
		width 100%
		padding-left 30px
		color #fff
		line-height 50px
		font-size 20px
		background url('../img/modules/calendar/icon-calendar.png') no-repeat left center
		font-weight bold

.calendar__close
	display block
	absolute top 50% right 20px
	width 20px
	height 20px
	margin-top -10px
	background url('../img/modules/calendar/close.png') no-repeat
	background-size 20px
	cursor pointer

.calendar__title
	font-size 20px !important
	color #fff

	span
		font-weight normal

.calendar__title-day
	color #ccc
	font-weight normal

.calendar__day
	position relative
	color #fff
	cursor pointer

	&:hover
		background #01b0f1
		color #333

		&.calendar__day--start:after,
		&.calendar__day--end:before
			display none !important

		&.calendar__day--start:before,
		&.calendar__day--end:after
			display block !important



	&:after,
	&:before
		display none
		content ''
		absolute top left -8px
		width 8px
		height 100%
		background url('../img/modules/calendar/arrow-left.png') no-repeat right top
		background-size 8px 100%

		// absolute top left -10px
		// border-width 17px 7px 17px 7px
		// border-style solid
		// border-color #333 #01b0f1 #333 transparent

	&:after
		left auto
		right -8px
		background url('../img/modules/calendar/arrow-right.png') no-repeat left top
		background-size 8px 100%
		// border-color #333 transparent #333 #01b0f1

.calendar__day--highlighted
	background #0c8fc0 !important
	color #353f43 !important

.calendar__day-disabled,
.calendar__day-empty
	color #666
	background none

.calendar__day--start,
.calendar__day--end
	background #01b0f1
	color #333

.calendar__day--start
	&:before
		display block
	&:after
		display none

.calendar__day--end
	&:after
		display block
	&:before
		display none


.calendar__day--start-disabled,
.calendar__day--end-disabled
	color #fff
	background transparent

	&:before,
	&:after
		display none

.calendar__btn-container
	display block
	width 90%
	height 5%
	margin 0 auto

.calendar__btn
	display block
	border 0
	width 100%
	height 100%
	text-align center
	line-height 100%
	background #37b8e8
	color #fff
	font-size 14px
	font-weight bold
	cursor pointer
	transition all 300ms ease

	&:hover
		background #fff
		color #333


/**
 * Hover
 */

.calendar[data-datepicker-clicked="checkin"]
	.calendar__day:hover
		&:before
			display block
		&:after
			display none

.calendar[data-datepicker-clicked="checkout"]
	.calendar__day:hover
		&:before
			display none
		&:after
			display block

/**
 * Active
 */

.calendar--active
	left -100%
	z-index 150

/**
 * Time
 */

.calendar--time

	.calendar__box:first-child
		height 70%

	.calendar__box:nth-child(2)
		padding-top 5%
		height 23%
		border-top 1px solid #000

		.calendar__header
			h4
				backgroun-image url('../img/modules/calendar/icon-time.png')

		.calendar__list
			absolute top 50% left right
			height 85px
			margin-top -10px
			border-top 0
			overflow hidden
