.mosaic__car-detail
	position absolute
	width 100%
	height 100%
	left 0
	top 0
	z-index 101
	background white
	visibility hidden
	opacity 0
	transform scale(1.2)
	transition all 300ms ease
	.datepicker-container
		width 100%
	.datepicker
		margin-right 0
		border 1px solid #e3e3e3 !important
		box-sizing border-box
	.datepicker-changeDate
		border-bottom 1px solid #e3e3e3 !important
	.calendar
		width 25%
		right 0
		left auto
		z-index 10
		transform translateX(0)
	.calendar--active
		transform translateX(-100%)
	&.is-active
		visibility visible
		opacity 1
		transform scale(1)
.car-detail__close
	width 60px
	height 60px
	background url('../img/modules/car-details/close.png') no-repeat 0 0
	position absolute
	right 0
	top 0
	display block
	background-color #427dc6
	transition all 300ms ease
	&:hover
		background-color #2c2c2c
.car-detail__container
	width 25%
	position relative
	height 100%
	float left
	transition all 500ms ease
	.btn
		position absolute
		bottom 20px
		left 20px
		right 20px
		font-weight bold
.car-detail__container--left
	width 75%
.car-detail__container--right
	z-index 11
	background white
.carrousel-item-image
	background-position center center
.carrousel-item-image:after
	display none
.car-detail__car-information
	padding 20px
	hr
		border 0
		padding 0
		margin 0
		border-bottom 1px solid #e7e7e7
		padding-bottom 20px
		margin-bottom 20px
.car-information__category
	font-size responsive-size(18px)
.car-information__name
	font-size responsive-size(28px)
	strong
		font-weight bold
.car-information__book-location
	font-size responsive-size(18px)
.car-information__price
	font-size responsive-size(18px)
	strong
		font-weight bold
		font-size responsive-size(24px)
.car-information__title
	font-weight bold
	font-size responsive-size(16px)
	margin-bottom 10px
#car-detail-pickup-location
	margin-bottom 10px
