.checkout
	color #333

	hr
		margin-top 3vh
		margin-bottom 3vh
		margin-left 30px
		margin-right 30px
		border-top 1px solid #e5e5e5

	.input-text
		margin-top 5px
		height responsive-size(38px)
		font-size responsive-size(14px)

	.customSelect
		margin-top 5px
		height responsive-size(38px)
		overflow inherit

	.customSelect-select
		font-size responsive-size(14px)

	.customCheckbox
		font-weight normal


	.hidden-parsley-messages
		.parsley-errors-list
			display none

.checkout--has-footer
	.checkout__body
		padding-bottom 90px

.checkout__title
	font-size responsive-size(16px)
	font-weight bold
	display block
	padding 0 30px
	height 60px
	background #f6f6f6
	border-bottom 1px solid #e5e5e5
	border-top 1px solid #e5e5e5
	line-height 60px

	.back-mobile
		display block
		height 100%
		width 66px
		border-right 1px solid #e5e5e5
		margin-left -30px
		float left
		margin-right 20px
		background url('../img/back-mobile.png') no-repeat center 25px
		background-size 15%

	&:first-child
		border-top none

.checkout__title--list
	font-size responsive-size(20px)

.checkout__subtitle
	font-size responsive-size(16px)
	font-weight bold
	margin-bottom responsive-size(30px)

.checkout__body
	position relative
	overflow auto
	height 100%
	border-bottom responsive-size(60px) solid transparent
	box-sizing border-box
	padding-bottom 10px

.checkout__fieldset
	width 100%
	box-sizing border-box
	margin responsive-size(15px) 0
	border-left 30px solid #fff

	td
		width 33.333%
		box-sizing border-box
		padding-right 30px
		padding responsive-size(5px) 30px responsive-size(5px) 0

	th
		font-size responsive-size(16px)
		font-weight bold
		text-align left
		padding responsive-size(5px) 0

	.btn--facebook,
	.btn--twitter
		margin-top 5px
		width 230px

.checkout__fieldset-tip
	padding 30px 30px 0

.checkout__field
	position relative
	font-size responsive-size(13px)
	font-weight bold
	display block

.checkout__col-expiration-month
	float left
	width 65%
	box-sizing border-box
	border-right 10px solid #fff

.checkout__col-expiration-year
	float right
	width 35%



.checkout__col-30,
.checkout__col-40
	float left
	box-sizing border-box
	border-right 10px solid transparent


.checkout__col-30
	width 30%

.checkout__col-40
	width 40%

.checkout__col--last
	border-right 0


.checkout__credit-card-input
	background-position 95% center
	background-repeat no-repeat
	background-size 32px 20px
	padding-right 45px


$cards = 'amex', 'diners_club_carte_blanche', 'diners_club_international', 'jcb', 'laser', 'visa_electron', 'visa', 'mastercard', 'maestro', 'discover';

for i in $cards
	unquote('.checkout__credit-card-input[data-type-card="'+i+'"] {');
	unquote("background-image: url('../img/modules/checkout/icon-"+i+".png'); }");



.checkout__paypal
	margin-top responsive-size(20px)

	h4
		margin-bottom responsive-size(20px)
		font-size responsive-size(16px)
		font-weight bold
		text-align center

	.btn
		display block
		margin 0 auto
		width 160px


.checkout__footer
	background #f6f6f6
	border-top 1px solid #e5e5e5
	height responsive-size(60px)
	absolute left bottom right
	text-align right

.checkout__footer--left
	text-align left

.checkout__footer--summary
	border-top 1px solid #3b70b2
	background #427dc6 !important

.checkout__submit
	margin-right 30px
	margin-left 30px
	font-size responsive-size(16px)
	padding responsive-size(10px) responsive-size(20px)
	vertical-align middle


.checkout__item:first-of-type
	.checkout__btn-remove-item
		display none

.checkout__btn-add-item
	border-left 30px solid #fff
	background #01b0f1
	font-size 13px
	font-weight normal
	color #fff
	text-align center
	text-decoration none
	padding responsive-size(8px) responsive-size(20px) responsive-size(10px) responsive-size(20px)
	transition all 300ms ease

	&:hover
		background #fff
		color #01b0f1

.checkout__btn-remove-item
	float right
	margin-right 30px
	text-align right
	font-size responsive-size(11px)
	font-weight normal
	text-decoration none
	color #CF3333

	&:hover
		text-decoration underline


.checkout__coupon
	position relative
	float left
	line-height responsive-size(60px)
	color #333
	text-decoration none
	margin-left 30px
	padding-left 40px
	&:before
		display block
		content ''
		absolute top 50% left
		margin-top -15px
		width 29px
		height 29px
		background url('../img/coupon.png') no-repeat left top
		background-size 29px 58px
	&:hover
		color #1bb7ea
		&:before
			background-position left bottom
.remove-coupon
	width 12px
	height 12px
	border-radius 50px
	background #01b0f1
	display inline-block
	position relative
	top -1px
	left 5px
	color #29486e
	line-height 10px
	text-align center
	font-size 12px
	text-decoration none
	font-weight bold
	&:hover
		background white
.phone-with-code
	background #f5f5f5
	border 1px solid transparent
	border-top 1px solid #dcdcdc
	position relative
	margin-top 5px
	.input-text
		border-top none
	clearfix()
	&.parsley-error
		border-color #ff9292
		background-color #f3e9e9
		color #e29c9c
	.parsley-errors-list
		top -19px
.country-code-input
	background none
	border 0
	color #666
	font-size responsive-size(14px)
	outline none
	padding 10px
	margin 0
	width 65%
	margin-left 5%
	font-family 'Asap', sans-serif
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
.country-code-container
	position relative
	clearfix()
	float left
	max-width 30%
.country-code
	background none
	border none
	padding 0
	margin 0
	outline none
	position absolute
	color #666
	opacity 0
	width 100%
	absolute top right bottom left
	cursor pointer
.country-code-text
	color #333
	font-size responsive-size(14px)
	border 0
	padding 10px
	margin 0
	background none
	padding-right 18px
	font-weight normal
	background url('../img/customSelect-arrow.png') no-repeat right center
	display block
	float left
	position relative
.more-sugestions__container
	position absolute
	absolute top right bottom left
	background white
	overflow hidden
	.more-sugestions__content
		overflow auto
		position relative
		height 100%
		box-sizing border-box
		border-bottom responsive-size(60px) solid transparent
		padding-top 15px
	.booking-options__row
		border-bottom 1px solid #e5e5e5
		padding-bottom 15px
		margin-bottom 15px
.more-sugestions__header
	position relative
.more-sugestions__close
	display block
	position absolute
	right 0
	height 100%
	width 23px
	top 0
	// border-left 1px solid #e5e5e5
	padding 0 responsive-size(16px)
	&:after
		content ''
		width 23px
		height 20px
		top 50%
		margin-top -10px
		background url('../img/modules/modal/close-dark.png') no-repeat center top
		background-size 20px
		position absolute
		display block
	&:hover
		&:after
			background-position center bottom
.show-more-btn
	display block
	margin-top 5px


/**
 * Error messages
 */

.checkout__field--security-code
	.parsley-errors-list
		right auto
		left responsive-size(40px)
		top -13px


@media _phone
	.main__checkout, .main__myAccount
		.summary
			display none

		.l-col-75
			width 100%

	.checkout__body,
	.checkout--has-footer .checkout__body
		padding-bottom 30px
		border-bottom none

	.checkout__subtitle
		margin 20px 0 20px 30px

	.checkout__fieldset
		tbody, thead, tfoot, tr, th, td
			display block
			width 100%

		th
			display inline-block
			width 49%

	.checkout__field
		height 70px

	.checkout__btn-remove-item
		position relative
		top 6px
		margin-top 5px
		font-size 11px

	.checkout__coupon
		margin-bottom 20px
		padding-right 40px
		text-align left
		line-height responsive-size(16px)

	.checkout__footer
		position relative
		height auto
		padding responsive-size(10px) 0
		border-bottom 1px solid #e5e5e5
		background #fff

		.l-toCenter
			display none

	.checkout__submit
		width 90%
		display block
		margin 0 auto


	/**
	 * Checkout Payment
	 */

	.main__checkout-payment
		.summary
			display none

		.l-col-75
			width 100%

		.checkout__subtitle
			padding 10px 30px
			margin-bottom 10px

		.internal-tabs
			padding 0

		.intenal-tabs__icons-card
			display none

		.internal-tabs__tab-link
			width 50%
			border-left 0
			border-right 0
			border-top-right-radius 0
			font-size 17px

		.checkout__field--security-code
			display inline-block
			margin-top 10px

			.l-col-25
				width 50%

	.checkout__paypal
		padding 20px 0 40px 0

		h4
			font-size responsive-size(12px)
.checkout__error-message
	font-weight bold
	color #ce3333
	display inline-block