.confirmation
	color #333
	phone padding-bottom responsive-size(20px)
	border-bottom 1px solid #e5e5e5

	h4
		font-size responsive-size(18px)
		font-weight bold
		phone padding-left 80px
		phone margin-bottom 10px

.confirmation__title
	font-size responsive-size(16px)
	font-weight bold
	display block
	padding responsive-size(14px) 20px
	background #f6f6f6
	border-bottom 1px solid #e5e5e5
	border-top 1px solid #e5e5e5

	&:first-child
		border-top none

.confirmation__thanks,
.confirmation__share
	margin 30px 0 30px 40px
	phone margin responsive-size(20px)

.confirmation__thanks
	padding-left 140px
	background url('../img/modules/confirmation/big-check.png') no-repeat
	background-size 120px
	phone background-size 60px
	phone padding-left 0
	p
		phone padding-left 80px

.confirmation__code
	display inline-block
	padding 15px
	margin 20px 0
	border 1px solid #d9d9d9
	border-radius 3px
	font-size responsive-size(18px)
	font-weight bold
	color #999
	line-height responsive-size(18px)
	phone font-size responsive-size(14px)
	phone box-sizing border-box
	phone width 100%
	phone text-align center
	p
		phone padding 0
	span
		font-size responsive-size(28px)
		color #427dc6
		phone font-size responsive-size(18px)

.confirmation__print
	margin-top 20px
	padding-left 25px
	color #427dc6
	line-height 19px
	text-decoration none
	background url('../img/modules/confirmation/icon-print.png') no-repeat 0 2px
	background-size 19px

	&:hover
		text-decoration underline

.confirmation__share
	h4
		phone padding-left 0
		phone margin-top 20px
	ul
		margin-top 20px

	li
		float left
		margin-right 4px

	.bt
		position relative
		display block
		width 110px
		height 110px
		padding 60px 10px 0 10px
		border-radius 3px
		background #45619d
		font-size 15px
		font-weight bold
		color #fff
		text-align center
		text-decoration none
		box-sizing border-box
		transition all .3s ease-out
		phone width 65px
		phone height 65px
		phone overflow hidden
		phone text-indent -10000px

		&:hover
			opacity .75

		&:before
			display block
			absolute top 15px left 50%
			margin-left -19px
			width 38px
			height 35px
			content ''
			background url('../img/modules/confirmation/sprite-confirmation.png') no-repeat
			background-size 158px 35px

	.tt
		background #4fa3e6
		&:before
			background-position -39px 0

	.email
		background #f97e36
		&:before
			background-position -78px 0

	.gpls
		background #e35348
		&:before
			background-position -117px 0
