.contact-page
	fixed top 0 left 0
	width 100%
	height 100%
	z-index 120000
	background url('../img/modules/contact/map.png') no-repeat
	background-size cover
	text-align center
	color white
	opacity 0
	transform scale(1.2)
	transition all 250ms ease
	visibility hidden
	transition-duration 0

	.close-contact
		text-decoration none
		absolute right 3vh top .6vh
		color #fff
		font-size 5vh
		&:hover
			color #5ac7f2
			text-decoration none
	a
		text-decoration none
		margin-top 5px
		display inline-block
		font-weight bold
		&.talk-to-us
			&:before
				content ''
				width 20px
				height 17px
				background url('../img/modules/contact/chat.png') no-repeat
				display inline-block
				background-size cover
				position relative
				top 3px
				margin-right 5px
		&:hover
			text-decoration underline
	.l-col-50, .l-col-25
		display inline-block
		vertical-align middle
		float none
		height auto
		phone width 100%

	.l-col-25
		// top 35%
		font-size responsive-size(16px)
		img
			width 70px
		strong
			font-size responsive-size(20px)
			margin-top 4px
			display block
			margin-bottom 20px
	&.is-active
		opacity 1
		transform scale(1)
		visibility visible
		transition-duration 250ms
	&:before
		content ''
		width 100%
		height 100%
		background rgba(0, 0, 0, .75)
		absolute left 0 top 0
	form
		margin-top responsive-size(20px)
		display inline-block
		.btn
			display block
			width 100%
			float left
	textarea
		width 100% !important
		resize none
	.input-text, .customSelect
		width 49%
		display block
		float left
		margin 0 2% 2% 0
		font-size responsive-size(15px)
	.no-margin
		margin-right 0
	.customSelect
		box-sizing border-box
		.customSelect-select
			font-size responsive-size(15px)
			padding 10px

.contact-page__title
	font-size responsive-size(80px)
	font-weight bold
	text-transform uppercase
	// margin-top responsive-size(15px)
	&:after
		display block
		width 40px
		height 3px
		background #01b0f1
		content ''
		margin responsive-size(2px) auto
.contact-page__subtitle
	font-size responsive-size(20px)
.contact-page__side-title
	font-weight bold
	font-size responsive-size(28px)
	text-transform uppercase
	margin-top 10px
	&:after
		display block
		width 40px
		height 3px
		background #01b0f1
		content ''
		margin 20px auto
