.corporate__body
	overflow auto
	height 100%
	border-bottom responsive-size(60px) solid transparent
	padding-bottom 35px
	box-sizing border-box
	.l-col-25, .l-col-50, .l-col-75
		height auto
	p
		padding 0 30px
		margin-top 30px
		line-height 1.5
.corporate__title
	font-size responsive-size(16px)
	font-weight bold
	margin 0 30px
	border-bottom 1px solid #e5e5e5
	line-height 60px
	phone line-height 1.5
	phone padding 15px 0
.corporate__ul
	margin 30px 60px 0
	list-style disc
	li
		display list-item
		margin-bottom 10px
.hashtag-rewards__description
	float left
	width 60%
	phone width 100%
	phone float none
.hashtag-rewards__title
	background #427dc6
	color white
	font-weight bold
	font-size responsive-size(28px)
	padding 20px
	float right
	margin 30px
	position relative
	phone font-size responsive-size(22px)
	phone float none
	&:after
		content ''
		width 20px
		height 20px
		display block
		position absolute
		right 0
		top 0
		background url('../img/modules/corporate/ribbon.jpg') no-repeat
.hashtag-calculator
	border 1px solid #e5e5e5
	margin 30px
	padding responsive-size(30px) 0 0
	clear both
	clearfix()
	phone padding-top 0
	.input-text
		padding 5px 20px
		height responsive-size(60px)
	.btn
		padding 20px
		font-size responsive-size(14px)
		font-weight bold
		line-height responsive-size(60px)
		margin-top 5px
		padding-top 0
		padding-bottom 0
.hashtag-calculator__col
	float left
	width 33.333%
	position relative
	padding-right responsive-size(40px)
	box-sizing border-box
	phone width 100%
	phone padding responsive-size(20px) !important
	label
		display block
		font-weight bold
		phone margin-bottom 10px
	&:after
		width 16px
		height 10px
		display block
		content ''
		background url('../img/modules/corporate/arrow.png')
		position absolute
		right 10px
		top 50%
		margin-top 5px
		phone display none
	&:nth-child(1)
		padding-left responsive-size(30px)
	&:nth-child(3)
		padding-right 0
		padding-right responsive-size(30px)
		&:after
			display none
.hashtag-calculator__kind-of-booking
	.btn
		width 32.5%
		phone width 32.1%
.hashtag-calculator__calculate
	phone padding-top 0 !important
	label
		phone display none
	.btn
		width 100%
.hashtag-calculator__footer
	width 100%
	background #f1f1f1
	float left
	font-size responsive-size(24px)
	text-align center
	padding 20px 0
	margin-top responsive-size(30px)
	border-top 1px solid #e5e5e5
	phone margin-top 0
	p
		padding 0
		margin 0
.checkout__title
	small
		font-size responsive-size(12px)
		font-weight normal
		float right
.corporate-page
	phone width 100%
	.checkout__title
		phone height auto
		phone line-height 1.5
		phone padding-top 15px
		phone padding-bottom 15px
		small
			phone display block
			phone float none
.corporate-about
	.l-col-75, .l-col-50, .l-col-25
		phone width 100%