.internal-tabs
	clearfix()
	padding 30px

.internal-tabs__tabs-links
	border-bottom 1px solid #e5e5e5
	// font-size 0
	text-align center

.internal-tabs__tab-link
	position relative
	background #f2f2f2
	text-decoration none
	color #333
	font-size responsive-size(17px)
	font-weight bold
	display inline-block
	width 30%
	border 1px solid #e5e5e5
	line-height 7vh
	position relative
	top 1px
	margin-left -1px


	&:first-child
		border-top-left-radius 3px
	&:last-child
		border-top-right-radius 3px

	&:hover
		.intenal-tabs__text
			text-decoration underline

.internal-tabs__tab-link--active
	background #fff
	border-bottom-color #fff

	&:hover
		cursor default
		.intenal-tabs__text
			text-decoration none


.internal-tabs__tab
	display none

.internal-tabs__tab--active
	display block

.intenal-tabs__text
	display inline-block

.intenal-tabs__icons-card
	display inline-block
	width 70px
	margin-left 10px
	vertical-align middle

	&:before,
	&:after
		display inline-block
		content ''
		width 32px
		height 20px
		background url('../img/modules/checkout/icon-mastercard.png') no-repeat
		background-size 32px 20px

	&:after
		margin-left 5px
		background-image url('../img/modules/checkout/icon-visa.png')
		background-size 32px 20px


.internal-tabs__icons-card--paypal
	width 32px

	&:before
		background-image url('../img/modules/checkout/icon-paypal.png')

	&:after
		display none



.internal-tabs--modal
	padding 30px 0
	height 510px

	.internal-tabs__tab-link
		width 20%


/**
 * Insurance options
 */

.internal-tab--insurance
	padding 0

	.internal-tabs__tabs-links
		display flex

	.internal-tabs__tab-link
		border-top 0
		flex 1


.internal-tabs__insurance-type
	absolute bottom 6px left
	width 100%
	line-height 12px
	text-align center
	color #999
	font-size 12px


@media _phone
	.internal-tabs
		padding 0

	.internal-tabs__tab-link--card
		width 58%

	.internal-tabs__tabs-links--3
		border 0 !important
		margin-top -2px
		a
			float left
			display block
			width 33.333%
			box-sizing border-box
			border-radius 0 !important
			font-size 15px
			margin-left 0


			&:first-child
				border-left 0

			&:nth-child(2)
				phone border-left 0
				phone border-right 0

			&:last-child
				border-right 0
	.internal-tabs__tabs-links--2
		border 0 !important
		margin-top -2px
		clearfix()
		a
			float left
			display block
			width 50%
			box-sizing border-box
			border-radius 0 !important
			font-size 15px
			margin-left 0
			border-top 0

			&:first-child
				border-left 0

			&:nth-child(2)
				phone border-left 0
				phone border-right 0

			&:last-child
				border-right 0
