.item-detail-container
	absolute top left right bottom
	z-index 100
	background #fff

.item-detail
	color #333

.item-detail__header
	position relative
	background #427dc6
	color #fff
	padding 10px 20px
	height 110px
	z-index 2
	box-sizing border-box

	&:after
		display block
		content ''
		width 1px
		clear both

.item-detail__go-back
	color #fff
	text-decoration none
	display inline-block
	margin-bottom responsive-size(10px)
	font-size responsive-size(14px)

	&:hover
		text-decoration underline

.item-detail__title
	display block
	border-top 1px solid #386aa8
	font-weight bold
	font-size responsive-size(24px)
	padding-top 10px

	.hotel-stars
		margin-left 10px


.item-detail__address
	font-size responsive-size(14px)

.item-detail__body
	overflow-y auto
	relative top -110px
	border-top 110px solid transparent
	height 100%
	box-sizing border-box

.item-detail__info
	width 100%
	font-size responsive-size(12px)
	line-height 140%
	color #000

	td
		padding 20px

.item-detail__more-detail,
.item-detail__less-detail
	color #333
	font-weight bold
	margin-top 15px
	display inline-block

.item-detail__subtitle
	text-align left
	padding 20px
	border-top 1px solid #d0d0d0
	font-weight normal
	font-size responsive-size(20px)

.item-detail__options
	td
		min-width 100px
		padding 20px 0 20px 20px
		border-top 1px solid #e1e1e1
		vertical-align middle

		&:nth-child(3)
			padding-right 20px

.results-list__result-room
	&:hover
		background #f2fcff

.item-detail__room-thumb
	display inline-block
	border 1px solid #333
	width 30%
	margin-right 2%

.item-detail__room-info
	display inline-block
	width 65%
	vertical-align top
	margin 5px 0

.item-detail__option-title
	display block
	font-size responsive-size(16px)

.item-detail__option-warning
	color #c72929
	font-weight normal
	display block
	padding-top 10px

.item-detail__option-info
	color #999
	font-size responsive-size(12px)
	display block
	padding-top 10px


.item-detail__price
	margin-bottom 10px

.item-detail__price-currency
	font-weight normal
	display block

.item-detail__price-value
	font-weight bold
	font-size responsive-size(22px)
	line-height responsive-size(12px)

.item-detail__btn-select
	font-size responsive-size(16px)



/**
 * Phone
 */

.item-detail--mobile
	display none

	.item-detail__title
		padding-top 0
		border-top 0

	.item-detail__header
		// display table
		height auto
		padding 20px

	.item-detail__address
		margin-top 5px

	.item-detail__subtitle
		background #fff
		padding 20px
		font-weight bold

	.item-detail__options
		border-bottom 1px solid #e1e1e1

		td
			background #fff

	.item-detail__btn-select
		margin-bottom 5px
		font-weight bold
		font-size responsive-size(16px)

	.item-detail__price
		font-size responsive-size(12px)

	.item-detail__hotel-info
		td
			padding 20px
			font-size responsive-size(12px)
			border-bottom 1px solid #e1e1e1
			background #fff

		.item-detail__subtitle
			border-top none
			border-bottom 1px solid #e1e1e1

.item-detail__btn-photos
	display block
	width 100%
	margin-top 5px
	text-decoration none
	text-align center
	color #fff
	font-weight bold

	&:before
		display inline-block
		content '+'
		margin-right 5px

.item-detail__btn-photos--active:before
	content '-'

.item-detail__header-thumb
	float left
	display block
	width 40%
	box-sizing border-box

.item-detail__header-col
	float left
	display block
	vertical-align top
	width 60%
	padding-left 20px
	box-sizing border-box

.item-detail__thumbs
	width 100%
	padding-top 20px
	clear both

	a
		position relative
		display block

	li
		display inline-block
		width 19%
		margin 0 1% 1% 0
		height 50px
		overflow hidden
		vertical-align top

	img
		width 100%
		transition all 300ms ease

.item-detail__thumb--loading

	&:after
		content ''
		absolute top 50% left 50%
		width 16px
		height 11px
		margin -5px 0 0 -8px
		background url('../img/loader.gif') no-repeat

	img
		opacity .25

.item-detail__thumb-lightbox
	// display none
	absolute top left right bottom
	z-index 100
	background rgba(66,125,198,.90)

	img
		absolute top 10% left

	&:after
		absolute top 10px right 10px
		content ''
		width 20px
		height 20px
		background url('../img/modules/item-detail/close.png') no-repeat
		background-size 20px

.item-details__thumb-lightbox--active
	display block


@media _phone
	.item-detail-container,
	.item-detail.l-col-50,
	.item-slider
		display none



	.item-detail-container--active
		display block
		position relative

		.item-detail.l-col-50
			display block
			width 100%

		.item-detail__options td
			padding 20px

	.item-detail--mobile
		display block







