/*
 * Hotel
 */

.main-results--sleep


	/* Calendar */
	.main-sidebar--calendar-active
		transform translateX(50%)

		.calendar
			width 50%

		.calendar--active
			left -50%





/**
 * Deals
 */

.main-results--deals
	overflow visible
	transition all 400ms ease

	&.main-results--calendar-active
		transform translateX(25%)

	.calendar
		width 25%
		left -50%

	.calendar--active
		left -25%





/**
 * Phone
 */

@media _phone
	.main-results
		// height auto
		height 100%
		margin-top responsive-size(-110px)
		background #427dc6

		.l-col-50,
		.l-col-25
			// display none
			display block

		.l-col-50
			width 100%

	.main-results--deals

		.results-content__title
			display block

		.results-content--inactive
			display none
