.matrix
	font-weight normal
	font-size responsive-size(12px)

.matrix__title
	background #427dc6
	font-size responsive-size(18px)
	font-weight bold
	color #fff
	display block
	padding responsive-size(15px)



.matrix__table
	width 100%
	text-align center

	th
		background #f5f5f5
		font-weight normal
		width 12.5%
		vertical-align middle
		border 1px solid #e5e5e5
		padding responsive-size(20px) 0

		strong
			display block

	td
		border 1px solid #e5e5e5
		vertical-align middle

	a
		color #427dc6
		font-weight bold
		text-decoration none
		display block
		padding responsive-size(20px) 0
		border 2px solid transparent
		font-size responsive-size(18px)

		&:hover
			border-color #427dc6

	thead
		td
			background #ececec
			font-weight normal


.matrix__cell--cheaper
	background #fffabf !important

.matrix__cell--highlighted
	background #ebf6ff


.matrix__go-back
	color #427dc6
	text-decoration none
	display inline-block
	margin responsive-size(15px)

	&:hover
		text-decoration underline
