#mobile-menu
	display none
	absolute top left bottom right
	background rgba(0, 0, 0, 0)
	z-index 22 !important
	overflow auto
	&.mobile-menu--open-left,
	&.mobile-menu--open-right
		display block
		background rgba(0, 0, 0, .70)
		z-index 10

		// .mobile-menu__item
		// 	transform translateX(0)
		// 	opacity 1

.mobile-menu--open-left
	.mobile-menu__left
		display block

.mobile-menu--open-right
	.mobile-menu__right
		display block


/**
 * All items
 */

.mobile-menu__container
	display none
	position absolute
	top responsive-size(49px)
	width 100%

// .mobile-menu__item
// 	transform translateX(-20px)
// 	opacity 0
// 	transition all 250ms ease

// for num in (1..12)
// 	.mobile-menu__item:nth-child({num})
// 		transition-delay 50ms * num


/**
 * Menu left
 */

.mobile-menu__left-item

	a
		text-decoration none
		display block
		position relative
		color white
		border-bottom 1px solid #35649e
		font-size 18px
		text-decoration none
		line-height responsive-size(40px)
		background #427dc6
		&.mobile-menu__left-item--active
			background #35649e
			color #01b0f1
			&:after
				background-position right top
		&:before
			content ''
			width 40px
			height 40px
			background-image url(../img/modules/mobile-menu/icons.png)
			position absolute
			background-size 160px 80px
			left 5%
			top 50%
			margin-top -20px
		&:after
			content ''
			width 10px
			height 14px
			background url(../img/modules/mobile-menu/arrow.png) no-repeat
			position absolute
			right 7%
			top 50%
			margin-top -6px
			background-size 20px 14px

.mobile-menu__left-icon
	position absolute
	height 60%
	top 20%
	left 20px

.mobile-menu__left-text
	padding-left responsive-size(60px)

.mobile-menu__left-item-sleep
	&.mobile-menu__left-item--active
		&:before
			background-position 0 -40px
	&:before
		background-position 0 0
.mobile-menu__left-item-drive
	&.mobile-menu__left-item--active
		&:before
			background-position -40px -40px
	&:before
		background-position -40px 0
.mobile-menu__left-item-deals
	&.mobile-menu__left-item--active
		&:before
			background-position -80px -40px
	&:before
		background-position -80px 0
.mobile-menu__left-item-fly
	&.mobile-menu__left-item--active
		&:before
			background-position -120px -40px
	&:before
		background-position -120px 0


/**
 * Menu right
 */

.mobile-menu__right-title
	font-weight bold
	padding responsive-size(15px) 0 responsive-size(15px) responsive-size(20px)
	text-transform uppercase
	background #f2f2f2
	color #666

.mobile-menu__right-item
	background #fff
	border-bottom 1px solid #d1d1d1

	position relative

	select
		width 100%
		position absolute
		left 0
		right 0
		top 0
		bottom 0
		height 100%
		appearance none
		border 0
		z-index 10
		background red
		opacity 0

	a
		position relative
		display block
		padding responsive-size(18px) responsive-size(20px) responsive-size(18px) responsive-size(50px)
		display block
		color #666
		text-decoration none
		font-weight bold

		&:before
			content ''
			absolute top 50% left
			width 32px
			padding responsive-size(18px) 0
			border-left responsive-size(17px) solid #fff
			margin-top -15px
			background #fff url('../img/modules/main-header/sprite-nav.png') no-repeat
			background-size 384px 32px

		&:after
			content ''
			absolute top 50% right 10%
			margin-top -7px
			width 10px
			height 14px
			background url('../img/modules/main-header/arrow-right.png') no-repeat
			background-size 10px 14px

		&:hover
			text-decoration none
			background #f2f2f2

			&:before
				background-color #f2f2f2
				border-color #f2f2f2

	span
		float right
		text-align right
		font-weight normal
		margin-right responsive-size(40px)

for num in (0..11)
	.mobile-menu__right-item--{num} a:before
		background-position -32px * num 0
