#modal__insurance
	.customRadio
		margin-bottom 10px
		a
			color #333
			position relative
	.modal__footer
		clearfix()
	.btn
		float right
	.modal__wrapper
		padding 0
		display flex
	p
		margin-bottom 15px
	strong
		color #ce3333
	.modal__footer
		border-top 1px solid #e5e5e5
		.terms_checkbox, button
			float right

		.terms_checkbox
			padding 11px 0
			margin-right 20px
			font-size responsive-size(12px)
			label
				font-family 'Asap', sans-serif
				font-weight normal

		.continue
			float right
			background-color #999999
			color white
			&:hover
				color #999999
				background-color white
.insurance__left
	flex 1
	background #f1f1f1
	border-right 1px solid #e5e5e5
	padding 10px
	box-sizing border-box
	a
		text-decoration none
		font-size responsive-size(14px)
		font-weight bold
		padding 15px
		display block
		color black
		&.is-active
			color white
			background #01b0f1
			cursor default
			&:hover
				color white
				background #01b0f1

		&:hover
			background #D1D1D1
.insurance__right
	flex 1.5
	padding 30px
	box-sizing border-box
.insurance__sponsor
	margin 30px 0
	img
		width 100px
		display inline-block
		vertical-align middle
		position relative
		top -5px
	small
		display inline-block

@media _phone
	#modal__insurance
		.modal__wrapper
			flex-direction column
