#modal__share

	.internal-tabs__tab
		padding 30px 70px 0 70px

.modal__share-fb
	display table

.modal__share-fb-user
	margin-right 10px

.modal__share-fb-content
	display table-cell

	h3
		font-weight bold
		color #427dc6
		font-size 15px

	.excerpt
		margin-top 10px

	textarea
		display block
		width 100%
		height 60px
		padding 10px
		margin-bottom 10px
		border 1px solid #b4bbcd
		font-family 'light', sans-serif
		font-size 12px
		color #666
		resize none


.modal__share-fb-col
	display table-cell
	vertical-align top

	.btn
		display block
		margin-top 20px
		width 100%

.modal__share-fb-col--right
	padding-left 10px
