.results-list-optional
	overflow hidden


.results-list-optional__header
	fixed top responsive-size(49px) left 0
	z-index 2
	width 50%

.results-list-optional__title
	display block
	padding 0 20px
	line-height 50px
	background #427dc6
	font-size 16px
	font-weight bold
	color #fff


.results-list-optional__content
	relative top left right
	height 100%
	border-top 80px solid transparent
	border-bottom 60px solid transparent
	overflow auto
	background #f2f2f2


.results-list-optional__footer
	absolute bottom left right
	border-top 1px solid #d1d1d1
	height 60px
	background #fff
	padding 0 15px

.results-list-optional__btn
	font-size 13px
	font-weight bold
	color #427dc6
	line-height responsive-size(66px)
	text-decoration none

	&:before,
	&:after
		content ''
		display inline-block
		position relative
		top 1px
		width 11px
		height 11px

	&:hover
		text-decoration underline

.results-list-optional__btn--prev
	float left

	&:before
		background url('../img/modules/results-list-optional/arrow-left.png') no-repeat
		background-size contain

.results-list-optional__btn--next
	float right
	height 46px
	margin 7px 0 0 0
	padding-right 5px
	text-align right
	line-height 46px
	background #37b8e8
	color #fff
	font-size 15px
	transition all 300ms ease-out

	&:hover
		background #fff
		color #37b8e8
		text-decoration none

		&:after
			background-image url('../img/modules/results-list-optional/arrow-right-blue.png')


	&:after
		transition all 300ms ease-out
		margin-left responsive-size(5px)
		background url('../img/modules/results-list-optional/arrow-right-white.png') no-repeat
		background-size contain


/**
 * Flight
 */

.results-list-optional--flight
	.results-list-optional__content
		border-top 96px solid transparent


/**
 * Sleep
 */

.results-list-optional--sleep
	.results-list-optional__content
		border-top 46px solid transparent
