.has-tooltip
	cursor help
.tooltip
	background #2c2c2c
	position absolute
	padding 5px
	z-index 10000
	color white
	border-radius 3px
	visibility hidden
	font-size 12px
	&:before
		width 8px
		height 4px
		position absolute
		bottom -4px
		left 10px
		background url('../img/modules/tooltip/arrow.png')
		content ''
		display block
.tooltip--is-active
	visibility visible
.tooltip-follow
	position absolute
	width 81px
	height 81px
	background url('../img/modules/mosaic/drag.png')
	z-index 10000
	margin-top -90px
	margin-left 30px
	color white
	text-align center
	box-sizing border-box
	font-size 12px
	padding 44px 10px 0
	transform scale(0)
	opacity 0
	top 200
	transition transform 150ms ease, opacity 150ms ease
	&.is-active
		opacity 1
		transform scale(1)
