<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>#travels</title>

	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0" />

	<link href="http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic" rel="stylesheet" type="text/css">

	{% if not app.config.usebuilt %}
	<!-- build:css all.built.css -->
	<link rel="stylesheet" href="{{app.config.staticpath}}/css/main.css">
	<link rel="stylesheet" href="{{app.config.staticpath}}/vendor/slider-range/jquery.nouislider.min.css">
	<link rel="stylesheet" href="{{app.config.staticpath}}/vendor/multiple-select/multiple-select.css">
	<link rel="stylesheet" href="{{app.config.staticpath}}/vendor/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="{{app.config.staticpath}}/vendor/flags_selectbox/css/intlTelInput.css">
	<!-- endbuild -->
	{% else %}
	<link rel="stylesheet" href="{{app.config.staticpath}}/css/all.built.css">
	{% endif %}

	<!-- Facebook OpenGraph Tags -->
	<meta property="og:title" content="Hashtag Travels" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.hashtagtravels.de/" />
	<meta property="og:image" content="{{app.config.staticpath}}/img/thumb-facebook.png" />
	<meta property="og:description" content="Welcome aboard. Fasten your seatbelts." />
	<!-- -->

	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
      {
        display: none !important;
      }
  </style>

</head>
<body class="no-transitions">

	{% include 'contact/index.twig' %}

	<div id="fb-root"></div>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId	: '245175442341179',
				status	: true,
				xfbml	: true
			});
		};

		(function(e,t,n){var r,i=e.getElementsByTagName(t)[0];if(e.getElementById(n)){return}r=e.createElement(t);r.id=n;r.src="//connect.facebook.net/en_US/all.js";i.parentNode.insertBefore(r,i)})(document,"script","facebook-jssdk");
		(function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src="https://apis.google.com/js/platform.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	</script>


	<div id="corporateMenu">
		<a href="#" class="corporateMenu-close">×</a>
		<ul>
			<li><a href="{{url('about_us')}}">About Us</a></li>
			<li><a href="{{url('hashtag_rewards')}}">Hashtag Rewards</a></li>
			<li><a href="{{url('terms')}}">Terms and Conditions</a></li>
			<li><a href="{{url('privacy_policy')}}">Privacy Policy</a></li>
		</ul>
	</div>


	<div id="mobile-menu">
		<ul class="mobile-menu__container mobile-menu__left">
			<li class="mobile-menu__item mobile-menu__left-item">
				<a href="{{url('home')}}" class="mobile-menu__left-item-fly">
					<span class="mobile-menu__left-text">Fly</span>
				</a>
			</li>
			<li class="mobile-menu__item mobile-menu__left-item">
				<a href="{{url('hotel')}}" class="mobile-menu__left-item-sleep {% if menu == 'sleep' %} 'mobile-menu__left-item--active' {% endif %}">
					<span class="mobile-menu__left-text">Sleep</span>
				</a>
			</li>
			<li class="mobile-menu__item mobile-menu__left-item">
				<a href="{{url('car')}}" class="mobile-menu__left-item-drive {% if menu == 'drive' %} 'mobile-menu__left-item--active' {% endif %}">
					<span class="mobile-menu__left-text">Drive</span>
				</a>
			</li>
			<li class="mobile-menu__item mobile-menu__left-item">
				<a href="{{url('deals')}}" class="mobile-menu__left-item-deals {% if menu == 'deals' %} 'mobile-menu__left-item--active' {% endif %}">
					<span class="mobile-menu__left-text">Deals</span>
				</a>
			</li>
		</ul>

		<ul class="mobile-menu__container mobile-menu__right">
			<li class="mobile-menu__item mobile-menu__right-title">My Account</li>
			<li class="mobile-menu__item mobile-menu__right-item mobile-menu__right-item--0"><a class="btnCloseRightMenu" href="{{url('user_home')}}#/bookings">My Bookings</a></li>
			<li class="mobile-menu__item mobile-menu__right-item mobile-menu__right-item--1"><a class="btnCloseRightMenu" href="{{url('user_home')}}#/personal_details">Personal Details</a></li>
			<li class="mobile-menu__item mobile-menu__right-item mobile-menu__right-item--2"><a class="btnCloseRightMenu" href="{{url('user_home')}}#/settings">Account Settings</a></li>
			<li class="mobile-menu__item mobile-menu__right-item mobile-menu__right-item--3"><a class="btnCloseRightMenu" href="{{url('user_home')}}#/rewards">Rewards System</a></li>
			<li class="mobile-menu__item mobile-menu__right-item mobile-menu__right-item--4"><a class="btnCloseRightMenu" href="{{url('user_home')}}#/notifications">Notifications</a></li>
			<li class="mobile-menu__item mobile-menu__right-title">Hashtag travels</li>
			<li class="mobile-menu__item mobile-menu__right-item mobile-menu__right-item--5">
				<select class="href_select">
					<option {% if app.currency.symbol == 'AED' %}selected {% endif %}value="{{url('change_currency', {currency: 'AED'})}}">AED - U.A.E. Dirham</option>
					<option {% if app.currency.symbol == 'ALL' %}selected {% endif %}value="{{url('change_currency', {currency: 'ALL'})}}">ALL - Albanian Lek</option>
					<option {% if app.currency.symbol == 'ARS' %}selected {% endif %}value="{{url('change_currency', {currency: 'ARS'})}}">ARS - Argentine Peso</option>
					<option {% if app.currency.symbol == 'AUD' %}selected {% endif %}value="{{url('change_currency', {currency: 'AUD'})}}">AUD - Australian Dollar</option>
					<option {% if app.currency.symbol == 'BGN' %}selected {% endif %}value="{{url('change_currency', {currency: 'BGN'})}}">BGN - Bulgarian Lev</option>
					<option {% if app.currency.symbol == 'BOB' %}selected {% endif %}value="{{url('change_currency', {currency: 'BOB'})}}">BOB - Bolivian Boliviano </option>
					<option {% if app.currency.symbol == 'BRL' %}selected {% endif %}value="{{url('change_currency', {currency: 'BRL'})}}">BRL - Brazilian Real</option>
					<option {% if app.currency.symbol == 'CAD' %}selected {% endif %}value="{{url('change_currency', {currency: 'CAD'})}}">CAD - Canadian Dollar</option>
					<option {% if app.currency.symbol == 'CHF' %}selected {% endif %}value="{{url('change_currency', {currency: 'CHF'})}}">CHF - Swiss Franc</option>
					<option {% if app.currency.symbol == 'CLP' %}selected {% endif %}value="{{url('change_currency', {currency: 'CLP'})}}">CLP - Chilean Peso</option>
					<option {% if app.currency.symbol == 'CNY' %}selected {% endif %}value="{{url('change_currency', {currency: 'CNY'})}}">CNY - Yuan Renminbi</option>
					<option {% if app.currency.symbol == 'COP' %}selected {% endif %}value="{{url('change_currency', {currency: 'COP'})}}">COP - Colombian Peso</option>
					<option {% if app.currency.symbol == 'CZK' %}selected {% endif %}value="{{url('change_currency', {currency: 'CZK'})}}">CZK - Czech Koruna</option>
					<option {% if app.currency.symbol == 'DKK' %}selected {% endif %}value="{{url('change_currency', {currency: 'DKK'})}}">DKK - Danish Krone</option>
					<option {% if app.currency.symbol == 'EEK' %}selected {% endif %}value="{{url('change_currency', {currency: 'EEK'})}}">EEK - Kroon</option>
					<option {% if app.currency.symbol == 'EUR' %}selected {% endif %}value="{{url('change_currency', {currency: 'EUR'})}}">EUR - Euro</option>
					<option {% if app.currency.symbol == 'GBP' %}selected {% endif %}value="{{url('change_currency', {currency: 'GBP'})}}">GBP - Pound Sterling</option>
					<option {% if app.currency.symbol == 'HKD' %}selected {% endif %}value="{{url('change_currency', {currency: 'HKD'})}}">HKD - Hong Kong Dollar</option>
					<option {% if app.currency.symbol == 'HRK' %}selected {% endif %}value="{{url('change_currency', {currency: 'HRK'})}}">HRK - Croatian Kuna</option>
					<option {% if app.currency.symbol == 'HUF' %}selected {% endif %}value="{{url('change_currency', {currency: 'HUF'})}}">HUF - Forint</option>
					<option {% if app.currency.symbol == 'ILS' %}selected {% endif %}value="{{url('change_currency', {currency: 'ILS'})}}">ILS - New Israeli Sheqel</option>
					<option {% if app.currency.symbol == 'INR' %}selected {% endif %}value="{{url('change_currency', {currency: 'INR'})}}">INR - Indian Rupee</option>
					<option {% if app.currency.symbol == 'ISK' %}selected {% endif %}value="{{url('change_currency', {currency: 'ISK'})}}">ISK - Icelandic Krona</option>
					<option {% if app.currency.symbol == 'JPY' %}selected {% endif %}value="{{url('change_currency', {currency: 'JPY'})}}">JPY - Yen</option>
					<option {% if app.currency.symbol == 'KZT' %}selected {% endif %}value="{{url('change_currency', {currency: 'KZT'})}}">KZT - Kazakhstan Tenge</option>
					<option {% if app.currency.symbol == 'KRW' %}selected {% endif %}value="{{url('change_currency', {currency: 'KRW'})}}">KRW - Won</option>
					<option {% if app.currency.symbol == 'LKR' %}selected {% endif %}value="{{url('change_currency', {currency: 'LKR'})}}">LKR - Sri Lanka Rupee</option>
					<option {% if app.currency.symbol == 'LTL' %}selected {% endif %}value="{{url('change_currency', {currency: 'LTL'})}}">LTL - Lithuanian Litas</option>
					<option {% if app.currency.symbol == 'LVL' %}selected {% endif %}value="{{url('change_currency', {currency: 'LVL'})}}">LVL - Latvian Lats</option>
					<option {% if app.currency.symbol == 'MAD' %}selected {% endif %}value="{{url('change_currency', {currency: 'MAD'})}}">MAD - Moroccan Dirham</option>
					<option {% if app.currency.symbol == 'MXN' %}selected {% endif %}value="{{url('change_currency', {currency: 'MXN'})}}">MXN - Mexican Peso</option>
					<option {% if app.currency.symbol == 'MYR' %}selected {% endif %}value="{{url('change_currency', {currency: 'MYR'})}}">MYR - Malaysian Ringgits</option>
					<option {% if app.currency.symbol == 'NOK' %}selected {% endif %}value="{{url('change_currency', {currency: 'NOK'})}}">NOK - Norwegian Kroner</option>
					<option {% if app.currency.symbol == 'NPR' %}selected {% endif %}value="{{url('change_currency', {currency: 'NPR'})}}">NPR - Nepalese Rupee</option>
					<option {% if app.currency.symbol == 'NZD' %}selected {% endif %}value="{{url('change_currency', {currency: 'NZD'})}}">NZD - New Zealand Dollar</option>
					<option {% if app.currency.symbol == 'PEN' %}selected {% endif %}value="{{url('change_currency', {currency: 'PEN'})}}">PEN - Peruvian Peso</option>
					<option {% if app.currency.symbol == 'PKR' %}selected {% endif %}value="{{url('change_currency', {currency: 'PKR'})}}">PKR - Pakistan Rupee</option>
					<option {% if app.currency.symbol == 'PLN' %}selected {% endif %}value="{{url('change_currency', {currency: 'PLN'})}}">PLN - Zloty</option>
					<option {% if app.currency.symbol == 'PYG' %}selected {% endif %}value="{{url('change_currency', {currency: 'PYG'})}}">PYG - Paraguayan Guarani</option>
					<option {% if app.currency.symbol == 'PHP' %}selected {% endif %}value="{{url('change_currency', {currency: 'PHP'})}}">PHP - Philippine Peso</option>
					<option {% if app.currency.symbol == 'RON' %}selected {% endif %}value="{{url('change_currency', {currency: 'RON'})}}">RON - Leu</option>
					<option {% if app.currency.symbol == 'RSD' %}selected {% endif %}value="{{url('change_currency', {currency: 'RSD'})}}">RSD - Serbian Dinar</option>
					<option {% if app.currency.symbol == 'RUB' %}selected {% endif %}value="{{url('change_currency', {currency: 'RUB'})}}">RUB - Russian Ruble</option>
					<option {% if app.currency.symbol == 'SAR' %}selected {% endif %}value="{{url('change_currency', {currency: 'SAR'})}}">SAR - Saudi Riyal</option>
					<option {% if app.currency.symbol == 'SEK' %}selected {% endif %}value="{{url('change_currency', {currency: 'SEK'})}}">SEK - Swedish Krona</option>
					<option {% if app.currency.symbol == 'SGD' %}selected {% endif %}value="{{url('change_currency', {currency: 'SGD'})}}">SGD - Singapore Dollars</option>
					<option {% if app.currency.symbol == 'THB' %}selected {% endif %}value="{{url('change_currency', {currency: 'THB'})}}">THB - Bhart</option>
					<option {% if app.currency.symbol == 'TRY' %}selected {% endif %}value="{{url('change_currency', {currency: 'TRY'})}}">TRY - New Turkish Lira</option>
					<option {% if app.currency.symbol == 'TWD' %}selected {% endif %}value="{{url('change_currency', {currency: 'TWD'})}}">TWD - New Taiwan Dollar</option>
					<option {% if app.currency.symbol == 'UAH' %}selected {% endif %}value="{{url('change_currency', {currency: 'UAH'})}}">UAH - Ukrainian Hryvnia</option>
					<option {% if app.currency.symbol == 'USD' %}selected {% endif %}value="{{url('change_currency', {currency: 'USD'})}}">USD - U.S. Dollar</option>
					<option {% if app.currency.symbol == 'UYU' %}selected {% endif %}value="{{url('change_currency', {currency: 'UYU'})}}">UYU - Uruguayan Peso</option>
					<option {% if app.currency.symbol == 'UZS' %}selected {% endif %}value="{{url('change_currency', {currency: 'UZS'})}}">UZS - Uzbekistan Som</option>
					<option {% if app.currency.symbol == 'VEF' %}selected {% endif %}value="{{url('change_currency', {currency: 'VEF'})}}">VEF - Venezuelan Bolivar</option>
					<option {% if app.currency.symbol == 'ZAR' %}selected {% endif %}value="{{url('change_currency', {currency: 'ZAR'})}}">ZAR - Rand</option>
				</select>

				<a href="my_account-">Currency <span>{{app.currency.symbol}}</span></a>
			</li>
			<li class="mobile-menu__item mobile-menu__right-item mobile-menu__right-item--6">
				<select class="href_select">
					<option {% if app.locale == 'en' %}selected {% endif %}value="{{url('change_language', {lang: 'en'})}}">English</option>
					<option {% if app.locale == 'fr' %}selected {% endif %}value="{{url('change_language', {lang: 'fr'})}}">French</option>
					<option {% if app.locale == 'de' %}selected {% endif %}value="{{url('change_language', {lang: 'de'})}}">German</option>
					<option {% if app.locale == 'it' %}selected {% endif %}value="{{url('change_language', {lang: 'it'})}}">Italian</option>
					<option {% if app.locale == 'es' %}selected {% endif %}value="{{url('change_language', {lang: 'es'})}}">Spanish</option>
					<option {% if app.locale == 'pt_br' %}selected {% endif %}value="{{url('change_language', {lang: 'pt_br'})}}">Portuguese</option>
				</select>
				<a href="my_account-">Language <span>{{app.locale | upper}}</span></a>
			</li>
			<li class="mobile-menu__item mobile-menu__right-item mobile-menu__right-item--7 open-contact"><a href="my_account-">Contact us</a></li>
			<li class="mobile-menu__item mobile-menu__right-item mobile-menu__right-item--10"><a href="{{url('about_us')}}">About us</a></li>
			<li class="mobile-menu__item mobile-menu__right-item mobile-menu__right-item--9"><a href="{{url('hashtag_rewards')}}">Hashtag Rewards</a></li>
			<li class="mobile-menu__item mobile-menu__right-item mobile-menu__right-item--11"><a href="{{url('terms')}}">Terms and Conditions</a></li>
			<li class="mobile-menu__item mobile-menu__right-item mobile-menu__right-item--8"><a href="{{url('privacy_policy')}}">Privacy</a></li>
		</ul>
	</div>


	<div class="main-header">
		<a class="main-header__logo" href="{{url('home')}}"><img src="{{app.config.staticpath}}/img/logo.png" alt="#travels logo"></a>

		<ul class="main-header__menu">

			{% if not app.session.get('user') %}
			<li class="main-header__menu-item main-header__my-account main-header__my-account--signin">
				<a href="{{url('user_signin')}}">
					<span class="l-toCenter"></span>
					<img class="main-header__menu-icon main-header__menu-icon--rounded" src="{{app.config.staticpath}}/img/modules/main-header/default-user.png" width="28" />
					<span class="main-header__menu-label main-header__menu-label--no-arrow">Sign in or sign up</span>
				</a>
			</li>
			{% endif %}

			{% if app.session.get('user') %}
			<li class="main-header__menu-item main-header__menu-item--has-dropdown main-header__my-account">
				<span class="l-toCenter"></span>

				{% if app.session.get('user').facebook_id is defined and app.session.get('user').facebook_id is not null %}
				<img class="main-header__menu-icon main-header__menu-icon--rounded" src="https://graph.facebook.com/{{app.session.get('user').facebook_id}}/picture" width="28" />
				{% elseif app.session.get('user').twitter_id is defined and app.session.get('user').twitter_id is not null %}
				<img class="main-header__menu-icon main-header__menu-icon--rounded" src="{{app.session.get('user').twitter_profile_image_url}}" width="28" />
				{% else %}
				<img class="main-header__menu-icon main-header__menu-icon--rounded" src="{{app.config.staticpath}}/img/modules/main-header/default-user.png" width="28" />
				{% endif %}


				<img class="main-header__menu-icon main-header__menu-icon--close" src="{{app.config.staticpath}}/img/modules/main-header/icon-close.png" width="28" />
				<span class="main-header__menu-label"><strong>{{app.session.get('user').first_name}} {{app.session.get('user').last_name}}</strong></span>

				<div class="main-header__dropdown is-user-dd main-header__dropdown--right">

					<ul class="main-header__dropdown-list">
						<li><a href="{{url('user_home')}}#/bookings"><img src="{{app.config.staticpath}}/img/modules/internal-menu/icon-bookings-2.png">My Bookings</a></li>
						<li><a href="{{url('user_home')}}#/personal_details"><img src="{{app.config.staticpath}}/img/modules/internal-menu/icon-personal-2.png">Personal Details</a></li>
						<li><a href="{{url('user_home')}}#/settings"><img src="{{app.config.staticpath}}/img/modules/internal-menu/icon-settings-2.png">Account Settings</a></li>
						<li><a href="{{url('user_home')}}#/rewards"><img src="{{app.config.staticpath}}/img/modules/internal-menu/icon-rewards-2.png">Rewards System</a></li>
						<li><a href="{{url('user_home')}}#/notifications"><img src="{{app.config.staticpath}}/img/modules/internal-menu/icon-notifications-2.png">Notifications</a></li>
						<li><a href="{{url('user_logout')}}"><img src="{{app.config.staticpath}}/img/modules/internal-menu/icon-bookings-2.png">Logout</a></li>
					</ul>

				</div>
			</li>
			{% endif %}

			<li class="main-header__menu-item main-header__menu-item--has-dropdown">
				<span class="l-toCenter"></span>
				<span class="main-header__menu-label"><strong>{{app.currency.symbol}}</strong> - {{app.currency.name}}</span>


				<div class="main-header__dropdown main-header__dropdown--full">
					<div class="l-col-75">
						<h4 class="main-header__dropdown-title">All Currencies</h4>
						<ul class="main-header__dropdown-list l-col-25">
							<li><a href="{{url('change_currency', {currency: 'AED'})}}"><strong>AED</strong>U.A.E. Dirham</a></li>
							<li><a href="{{url('change_currency', {currency: 'ALL'})}}"><strong>ALL</strong>Albanian Lek</a></li>
							<li><a href="{{url('change_currency', {currency: 'ARS'})}}"><strong>ARS</strong>Argentine Peso</a></li>
							<li><a href="{{url('change_currency', {currency: 'AUD'})}}"><strong>AUD</strong>Australian Dollar</a></li>
							<li><a href="{{url('change_currency', {currency: 'BGN'})}}"><strong>BGN</strong>Bulgarian Lev</a></li>
							<li><a href="{{url('change_currency', {currency: 'BOB'})}}"><strong>BOB</strong>Bolivian Boliviano </a></li>
							<li><a href="{{url('change_currency', {currency: 'BRL'})}}"><strong>BRL</strong>Brazilian Real</a></li>
							<li><a href="{{url('change_currency', {currency: 'CAD'})}}"><strong>CAD</strong>Canadian Dollar</a></li>
							<li><a href="{{url('change_currency', {currency: 'CHF'})}}"><strong>CHF</strong>Swiss Franc</a></li>
							<li><a href="{{url('change_currency', {currency: 'CLP'})}}"><strong>CLP</strong>Chilean Peso</a></li>
							<li><a href="{{url('change_currency', {currency: 'CNY'})}}"><strong>CNY</strong>Yuan Renminbi</a></li>
							<li><a href="{{url('change_currency', {currency: 'COP'})}}"><strong>COP</strong>Colombian Peso</a></li>
							<li><a href="{{url('change_currency', {currency: 'CZK'})}}"><strong>CZK</strong>Czech Koruna</a></li>
							<li><a href="{{url('change_currency', {currency: 'DKK'})}}"><strong>DKK</strong>Danish Krone</a></li>
						</ul>
						<ul class="main-header__dropdown-list l-col-25">
							<li><a href="{{url('change_currency', {currency: 'EEK'})}}"><strong>EEK</strong>Kroon</a></li>
							<li><a href="{{url('change_currency', {currency: 'EUR'})}}"><strong>EUR</strong>Euro</a></li>
							<li><a href="{{url('change_currency', {currency: 'GBP'})}}"><strong>GBP</strong>Pound Sterling</a></li>
							<li><a href="{{url('change_currency', {currency: 'HKD'})}}"><strong>HKD</strong>Hong Kong Dollar</a></li>
							<li><a href="{{url('change_currency', {currency: 'HRK'})}}"><strong>HRK</strong>Croatian Kuna</a></li>
							<li><a href="{{url('change_currency', {currency: 'HUF'})}}"><strong>HUF</strong>Forint</a></li>
							<li><a href="{{url('change_currency', {currency: 'ILS'})}}"><strong>ILS</strong>New Israeli Sheqel</a></li>
							<li><a href="{{url('change_currency', {currency: 'INR'})}}"><strong>INR</strong>Indian Rupee</a></li>
							<li><a href="{{url('change_currency', {currency: 'ISK'})}}"><strong>ISK</strong>Icelandic Krona</a></li>
							<li><a href="{{url('change_currency', {currency: 'JPY'})}}"><strong>JPY</strong>Yen</a></li>
							<li><a href="{{url('change_currency', {currency: 'KZT'})}}"><strong>KZT</strong>Kazakhstan Tenge</a></li>
							<li><a href="{{url('change_currency', {currency: 'KRW'})}}"><strong>KRW</strong>Won</a></li>
							<li><a href="{{url('change_currency', {currency: 'LKR'})}}"><strong>LKR</strong>Sri Lanka Rupee</a></li>
							<li><a href="{{url('change_currency', {currency: 'LTL'})}}"><strong>LTL</strong>Lithuanian Litas</a></li>
						</ul>
						<ul class="main-header__dropdown-list l-col-25">
							<li><a href="{{url('change_currency', {currency: 'LVL'})}}"><strong>LVL</strong>Latvian Lats</a></li>
							<li><a href="{{url('change_currency', {currency: 'MAD'})}}"><strong>MAD</strong>Moroccan Dirham</a></li>
							<li><a href="{{url('change_currency', {currency: 'MXN'})}}"><strong>MXN</strong>Mexican Peso</a></li>
							<li><a href="{{url('change_currency', {currency: 'MYR'})}}"><strong>MYR</strong>Malaysian Ringgits</a></li>
							<li><a href="{{url('change_currency', {currency: 'NOK'})}}"><strong>NOK</strong>Norwegian Kroner</a></li>
							<li><a href="{{url('change_currency', {currency: 'NPR'})}}"><strong>NPR</strong>Nepalese Rupee</a></li>
							<li><a href="{{url('change_currency', {currency: 'NZD'})}}"><strong>NZD</strong>New Zealand Dollar</a></li>
							<li><a href="{{url('change_currency', {currency: 'PEN'})}}"><strong>PEN</strong>Peruvian Peso</a></li>
							<li><a href="{{url('change_currency', {currency: 'PKR'})}}"><strong>PKR</strong>Pakistan Rupee</a></li>
							<li><a href="{{url('change_currency', {currency: 'PLN'})}}"><strong>PLN</strong>Zloty</a></li>
							<li><a href="{{url('change_currency', {currency: 'PYG'})}}"><strong>PYG</strong>Paraguayan Guarani</a></li>
							<li><a href="{{url('change_currency', {currency: 'PHP'})}}"><strong>PHP</strong>Philippine Peso</a></li>
							<li><a href="{{url('change_currency', {currency: 'RON'})}}"><strong>RON</strong>Leu</a></li>
							<li><a href="{{url('change_currency', {currency: 'RSD'})}}"><strong>RSD</strong>Serbian Dinar</a></li>
						</ul>
						<ul class="main-header__dropdown-list l-col-25">
							<li><a href="{{url('change_currency', {currency: 'RUB'})}}"><strong>RUB</strong>Russian Ruble</a></li>
							<li><a href="{{url('change_currency', {currency: 'SAR'})}}"><strong>SAR</strong>Saudi Riyal</a></li>
							<li><a href="{{url('change_currency', {currency: 'SEK'})}}"><strong>SEK</strong>Swedish Krona</a></li>
							<li><a href="{{url('change_currency', {currency: 'SGD'})}}"><strong>SGD</strong>Singapore Dollars</a></li>
							<li><a href="{{url('change_currency', {currency: 'THB'})}}"><strong>THB</strong>Bhart</a></li>
							<li><a href="{{url('change_currency', {currency: 'TRY'})}}"><strong>TRY</strong>New Turkish Lira</a></li>
							<li><a href="{{url('change_currency', {currency: 'TWD'})}}"><strong>TWD</strong>New Taiwan Dollar</a></li>
							<li><a href="{{url('change_currency', {currency: 'UAH'})}}"><strong>UAH</strong>Ukrainian Hryvnia</a></li>
							<li><a href="{{url('change_currency', {currency: 'USD'})}}"><strong>USD</strong>U.S. Dollar</a></li>
							<li><a href="{{url('change_currency', {currency: 'UYU'})}}"><strong>UYU</strong>Uruguayan Peso</a></li>
							<li><a href="{{url('change_currency', {currency: 'UZS'})}}"><strong>UZS</strong>Uzbekistan Som</a></li>
							<li><a href="{{url('change_currency', {currency: 'VEF'})}}"><strong>VEF</strong>Venezuelan Bolivar</a></li>
							<li><a href="{{url('change_currency', {currency: 'ZAR'})}}"><strong>ZAR</strong>Rand</a></li>
						</ul>
					</div>

					<div class="l-col-25">
						<h4 class="main-header__dropdown-title">Top Currencies</h4>
						<ul class="main-header__dropdown-list">
							<li><a href="{{url('change_currency', {currency: 'USD'})}}"><strong>USD</strong>U.S. Dollar</a></li>
							<li><a href="{{url('change_currency', {currency: 'CHF'})}}"><strong>CHF</strong>Swiss Franc</a></li>
							<li><a href="{{url('change_currency', {currency: 'EUR'})}}"><strong>EUR</strong>Euro</a></li>
							<li><a href="{{url('change_currency', {currency: 'GBP'})}}"><strong>GBP</strong>Pound Sterling</a></li>
							<li><a href="{{url('change_currency', {currency: 'AED'})}}"><strong>AED</strong>U.A.E. Dirham</a></li>
							<li><a href="{{url('change_currency', {currency: 'AUD'})}}"><strong>AUD</strong>Australian Dollar</a></li>
							<li><a href="{{url('change_currency', {currency: 'CAD'})}}"><strong>CAD</strong>Canadian Dollar</a></li>
							<li><a href="{{url('change_currency', {currency: 'RUB'})}}"><strong>RUB</strong>Russian Ruble</a></li>
						</ul>
					</div>
				</div>

			</li>

			<li class="main-header__menu-item main-header__menu-item--has-dropdown" style="position: relative;">
				<span class="l-toCenter"></span>
				<img class="main-header__menu-icon" src="{{app.config.staticpath}}/img/modules/main-header/icon-language.png" />

				<div class="main-header__dropdown main-header__dropdown--right">
					<ul class="main-header__dropdown-list">
						<li><a href="{{url('change_language', {lang: 'en'})}}">English</a></li>
						<li><a href="{{url('change_language', {lang: 'fr'})}}">French</a></li>
						<li><a href="{{url('change_language', {lang: 'de'})}}">German</a></li>
						<li><a href="{{url('change_language', {lang: 'it'})}}">Italian</a></li>
						<li><a href="{{url('change_language', {lang: 'es'})}}">Spanish</a></li>
						<li><a href="{{url('change_language', {lang: 'pt_br'})}}">Portuguese</a></li>
					</ul>
				</div>
			</li>

			<li class="main-header__menu-item" onclick="olark('api.box.expand')">
				<span class="l-toCenter"></span>
				<img class="main-header__menu-icon" src="{{app.config.staticpath}}/img/modules/main-header/icon-chat.png" />
				<span class="main-header__menu-label chat-now">Chat now</span>
			</li>

			<li class="main-header__menu-item open-contact">
				<span class="l-toCenter"></span>
				<img class="main-header__menu-icon" src="{{app.config.staticpath}}/img/modules/main-header/icon-phone.png" />
			</li>

			<li class="main-header__menu-item js-open-corporate-menu">
				<span class="l-toCenter"></span>
				<img class="main-header__menu-icon" src="{{app.config.staticpath}}/img/modules/main-header/icon-menu.png" />
				<img class="main-header__menu-icon main-header__menu-icon--close" src="{{app.config.staticpath}}/img/modules/main-header/icon-close.png" width="28" />
			</li>

			<!-- <li class="headerMenu-item">
				<a class="icon-language" href="#">Language<span></span></a>

				<div class="headerMenu-item-content headerMenu-item-content-language">
					<ul>
						<li><a href="#">English</a></li>
						<li><a href="#">French</a></li>
						<li><a href="#">German</a></li>
						<li><a href="#">Italian</a></li>
						<li><a href="#">Spanish</a></li>
						<li><a href="#">Portuguese</a></li>
					</ul>
				</div>
			</li>

			<li class="headerMenu-item">
				<a class="icon-login" href="#">Login<span></span></a>
			</li>

			<li class="headerMenu-item">
				<a class="icon-phone" href="#">Phone<span></span></a>
			</li>

			<li class="headerMenu-item">
				<a class="icon-menu" href="#">Menu<span></span></a>
			</li>
	 -->
		</ul>

	</div>


{% block content %}{% endblock %}


	<div class="main-footer">

		<ul class="main-footer__menu">
			<li class="main-footer__menu-item {% if menu == 'fly' %} main-footer__menu-item--active {% endif %}">
				<a href="{{url('home')}}" class="main-footer__menu-item-fly">
					<img class="main-footer__menu-icon" src="{{app.config.staticpath}}/img/modules/main-footer/icon-plane.png" />
					<span class="main-footer__menu-text">Fly</span>
				</a>
			</li>
			<li class="main-footer__menu-item {% if menu == 'sleep' %} main-footer__menu-item--active {% endif %}">
				<a href="{{url('hotel')}}" class="main-footer__menu-item-sleep">
					<img class="main-footer__menu-icon" src="{{app.config.staticpath}}/img/modules/main-footer/icon-bed.png" />
					<span class="main-footer__menu-text">Sleep</span>
				</a>
			</li>
			<li class="main-footer__menu-item {% if menu == 'drive' %} main-footer__menu-item--active {% endif %}">
				<a href="{{url('car')}}" class="main-footer__menu-item-drive">
					<img class="main-footer__menu-icon" src="{{app.config.staticpath}}/img/modules/main-footer/icon-car.png" />
					<span class="main-footer__menu-text">Drive</span>
				</a>
			</li>
			<!-- <li class="main-footer__menu-item {% if menu == 'deals' %} main-footer__menu-item--active {% endif %}">
				<a href="{{url('deals')}}" class="main-footer__menu-item-deals">
					<img class="main-footer__menu-icon" src="{{app.config.staticpath}}/img/modules/main-footer/icon-bag.png" />
					<span class="main-footer__menu-text">Deals</span>
				</a>
			</li> -->
		</ul>


		<div class="main-footer__social">
			<a class="main-footer__icon-facebook" href="https://www.facebook.com/hashtagtravels" target="_blank">Facebook<span></span></a>
			<a class="main-footer__icon-twitter" href="https://twitter.com/hashtagtravels" target="_blank">Twitter</a>


			<div class="main-footer__last-tweets">
				<script type="text/template" data-template="main-footer__last-tweets">
				<ul>
					<%_.each(tweets, function(tweet){ %>
						<li class="main-footer__tweet"><%=tweet%></li>
					<% })%>
				</ul>
				</script>
			</div>




		</div>

		<div class="main-footer__logo-iata">
			<span class="l-center"></span>
			<img src="{{app.config.staticpath}}/img/iata-logo.png" alt="IATA - International Air Transport Association">
		</div>
	</div>

	<div class="mobile-footer">
		<p>
			<a href="{{url('user_home')}}">My Account</a> |
			<a class="open-contact" href="">Call us</a> |
			<a href="{{url('privacy_policy')}}">Privacy</a>
		</p>
		<p>Hashtag Travels &copy; 2014</p>
	</div>


	<script>
		window.App = window.App || {}
		App.selectedLanguage = '{{app.locale}}'
		App.selectedCurrency = '{{app.currency.symbol}}'
		App.user = JSON.parse('{{app.session.get("user") | json_encode() | raw }}')
		App.staticPath = '{{app.config.staticpath}}'
		App.baseUrl = '{{app.request.baseUrl}}'
		App.userIP = '{{app.userIP}}'
		App.userIP = (App.userIP == '::1')?'109.164.132.158':'{{app.userIP}}'
		App.uploadsDir = '{{app.config.uploadsdir}}'
		App.baseAPIUrl = '{{app.config.apiUrl}}'
		App.today = '{{ "now"|date("Y-m-d") }}'
		App.Modules = {};
		App.Templates = {};
		App.Views = {};
	</script>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=false"></script>

	{% if not app.config.usebuilt %}
	<!-- build:js all.built.js -->
	<script src="{{app.config.staticpath}}/vendor/infobox-markerclusterer.js"></script>
	<script src="{{app.config.staticpath}}/vendor/jquery-1.11.0.min.js"></script>
	<script src="{{app.config.staticpath}}/vendor/parsley/parsley.js"></script>
	<script src="{{app.config.staticpath}}/vendor/jquery.easing.1.3.js"></script>
	<script src="{{app.config.staticpath}}/vendor/validateCreditCard.js"></script>
	<script src="{{app.config.staticpath}}/vendor/jquery.slides.min.js"></script>
	<script src="{{app.config.staticpath}}/vendor/packery.pkgd.min.js"></script>
	<script src="{{app.config.staticpath}}/vendor/jquery.inputmask.js"></script>
	<script src="{{app.config.staticpath}}/vendor/slider-range/jquery.nouislider.min.js"></script>
	<script src="{{app.config.staticpath}}/vendor/multiple-select/jquery.multiple.select.js"></script>
	<script src="{{app.config.staticpath}}/vendor/moment-with-langs.js"></script>
	<script src="{{app.config.staticpath}}/vendor/jquery.mousewheel.min.js"></script>
	<script src="{{app.config.staticpath}}/vendor/jquery.mCustomScrollbar.js"></script>
	<script src="{{app.config.staticpath}}/vendor/ZeroClipboard.js"></script>
	<script src="{{app.config.staticpath}}/vendor/lodash.underscore.js"></script>
	<script src="{{app.config.staticpath}}/vendor/flags_selectbox/js/intlTelInput.min.js"></script>
	<script src="{{app.config.staticpath}}/vendor/calendar.js"></script>
	<script src="{{app.config.staticpath}}/vendor/geocomplete.js"></script>
	<script src="{{app.config.staticpath}}/vendor/simpleweatherjs/jquery.simpleWeather.min.js"></script>
	<script src="{{app.config.staticpath}}/vendor/parse_params.js"></script>

	<script src="{{app.config.staticpath}}/js/forms.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/carrousel.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/hotel-map.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/results-map.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/deals-map.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/main-header.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/main-footer.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/search-tool.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/item-detail.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/item-slider.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/matrix.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/mosaic.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/grid.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/internal-tabs.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/table-history.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/share.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/modal.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/tooltip.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/sign-in.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/autocomplete_flight.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/autocomplete_hotel.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/autocomplete_car.js"></script>
	<script src="{{app.config.staticpath}}/js/modules/autocomplete_airlines.js"></script>
 
	<script src="{{app.config.staticpath}}/js/main.js"></script>
	<script src="{{app.config.staticpath}}/js/menu_dropdown.js"></script>
	<!-- endbuild -->

	{% else %}
	<script src="{{app.config.staticpath}}/js/all.built.js"></script>
	{% endif %}

	<!-- begin olark code -->
	<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
	f[z]=function(){
	(a.s=a.s||[]).push(arguments)};var a=f[z]._={
	},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
	f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
	0:+new Date};a.P=function(u){
	a.p[u]=new Date-a.p[0]};function s(){
	a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
	hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
	return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
	b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
	b.contentWindow[g].open()}catch(w){
	c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
	var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
	b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
	loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
	/* custom configuration goes here (www.olark.com/documentation) */
	olark.identify('1877-412-10-1405');/*]]>*/</script><noscript><a href="https://www.olark.com/site/1877-412-10-1405/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
	<!-- end olark code -->

	<script type="text/javascript">
		olark('api.box.hide')
		olark('api.box.onShrink', function () {
			olark('api.box.hide')
		});
		olark('api.chat.onOperatorsAvailable', function() {
			$('.chat-now').addClass('is-active');
		});
	</script>

</body>
</html>
